mixin spec()
  .spec&attributes(attributes)
    .spec__row.flex
      .spec__content
        .spec__inner.flex
          p Тип:
          p Настенная сплит-система
      .spec__content
        .spec__inner.flex
          p Тип:
          p Настенная сплит-система
    .spec__row.flex
      .spec__content
        .spec__inner.flex
          p Страна:
          p Китай
      .spec__content
        .spec__inner.flex
          p Страна:
          p Китай
    .spec__row.flex
      .spec__content
        .spec__inner.flex
          p Мощность обогрева, кВт:
          p 2.3
      .spec__content
        .spec__inner.flex
          p Мощность обогрева, кВт:
          p 2.3
    .spec__row.flex
      .spec__content
        .spec__inner.flex
          p Модель:
          p Lessar LS/LU-H07KKA2
      .spec__content
        .spec__inner.flex
          p Модель:
          p Lessar LS/LU-H07KKA2
    .spec__row.flex
      .spec__content
        .spec__inner.flex
          p Основные режимы:
          p Охлаждение / обогрев
      .spec__content
        .spec__inner.flex
          p Основные режимы:
          p Охлаждение / обогрев
    .spec__row.flex
      .spec__content
        .spec__inner.flex
          p Потребляемая мощность при охлаждении, кВт:
          p 0.58
      .spec__content
        .spec__inner.flex
          p Потребляемая мощность при охлаждении, кВт:
          p 0.58
    .spec__row.flex
      .spec__content
        .spec__inner.flex
          p Приток свежего воздуха:
          p нет
      .spec__content
        .spec__inner.flex
          p Приток свежего воздуха:
          p нет
    .spec__row.flex
      .spec__content
        .spec__inner.flex
          p Серия:
          p Cool+
      .spec__content
        .spec__inner.flex
          p Серия:
          p Cool+
    .spec__row.flex
      .spec__content
        .spec__inner.flex
          p Размер внутреннего блока (ШxВxГ), см:
          p 71,5x25x18,8
      .spec__content
        .spec__inner.flex
          p Размер внутреннего блока (ШxВxГ), см:
          p 71,5x25x18,8
    .spec__row.flex
      .spec__content
        .spec__inner.flex
          p Тип хладагента:
          p R 410A
      .spec__content
        .spec__inner.flex
          p Тип хладагента:
          p R 410A
    .spec__row.flex
      .spec__content
        .spec__inner.flex
          p Фильтры тонкой очистки воздуха:
          p нет
      .spec__content
        .spec__inner.flex
          p Фильтры тонкой очистки воздуха:
          p нет
    .spec__row.flex
      .spec__content
        .spec__inner.flex
          p Рабочая температура охлаждение:
          p от 18 до 43°С
      .spec__content
        .spec__inner.flex
          p Рабочая температура охлаждение:
          p от 18 до 43°С
    .spec__row.flex
      .spec__content
        .spec__inner.flex
          p Таймер включения/выключения:
          p Есть
      .spec__content
        .spec__inner.flex
          p Таймер включения/выключения:
          p Есть
