mixin danger-block()
  .danger-block&attributes(attributes).flex
    .danger-block__img
      span.icon.exclamation
    .danger-block__content
      .danger-block__header Внимание
      p.danger-block__text Уважаемые покупатели, приобретая любую сплит-систему в нашем магазине, Вы так же можете заказать ее монтаж. Если вы находитесь в черте города, к вам бесплатно приедет мастер и произведет замер для составления сметы. При необходимости использования сплит-системы при отрицательной температуре на улице, наши мастера могут доустановить вам зимний комплект на любую неинверторную сплит-систему. Если у вас возникли дополнительные вопросы обращайтесь по номерам 8 (812) 649-05-19 и 8 (495) 407-01-91
