mixin slider-label()
  .slider-label&attributes(attributes).flex

      .slider-label__item
        span Код:
        span 1286
      .slider-label__item.flex
        span.icon.star-o
        span 5.0
        a(href="#feedback").rating__link.js-toTabs (#[span.rating__count 12])&#32;Отзывов
