mixin modal-callMe()
  div(tabindex="-1" role="dialog" aria-labelledby="callMe").modal.fade.modal-sm#callMe
    .modal-dialog
      .modal-content
        .modal__header
          h5 Заказать звонок
        form(action="#" method="post").form
          .modal-body
            .form-group
              input(type="text" name="name" class="form-control" placeholder="Ваше имя" data-type="text" required)
            .form-group
              input(type="text" name="tel" class="form-control" placeholder="Телефон" data-type="tel" required)
          .modal-footer
            button(type="submit" class="btn btn-primary").js-submit заказать звонок

  mixin modal-buy()
    div(tabindex="-1" role="dialog" aria-labelledby="buy").modal.fade.modal-sm#buy
      .modal-dialog
        .modal-content
          .modal__header
            h5 купить
          form(action="#" method="post").form
            .modal-body
              .form-group
                input(type="text" name="name" class="form-control" placeholder="Ваше имя" data-type="text" required)
              .form-group
                input(type="text" name="tel" class="form-control" placeholder="Телефон" data-type="tel" required)
              .form-group
                input(type="text" name="product" class="form-control" placeholder="Название товара" data-type="text" required)
            .modal-footer
              button(type="submit" class="btn btn-primary").js-submit отправить

  mixin modal-size()
    div(tabindex="-1" role="dialog" aria-labelledby="size").modal.fade.modal-sm#size
      .modal-dialog
        .modal-content
          .modal__header
            h5 бесплатный замер
          form(action="#" method="post").form
            .modal-body
              .form-group
                input(type="text" name="name" class="form-control" placeholder="Ваше имя" data-type="text" required)
              .form-group
                input(type="text" name="tel" class="form-control" placeholder="Телефон" data-type="tel" required)
              span.modal__text-sm услуга бесплатна в черте города
            .modal-footer
              button(type="submit" class="btn btn-primary").js-submit отправить

  mixin modal-mount()
    div(tabindex="-1" role="dialog" aria-labelledby="mount").modal.fade.modal-sm#mount
      .modal-dialog
        .modal-content
          .modal__header
            h5 Заказать монтаж
          form(action="#" method="post").form
            .modal-body
              .form-group
                input(type="text" name="name" class="form-control" placeholder="Ваше имя" data-type="text" required)
              .form-group
                input(type="text" name="tel" class="form-control" placeholder="Телефон" data-type="tel" required)
            .modal-footer
              button(type="submit" class="btn btn-primary").js-submit отправить

  mixin modal-addfeedback()
    div(tabindex="-1" role="dialog" aria-labelledby="addfeedback").modal.fade.modal-sm#addfeedback
      .modal-dialog
        .modal-content
          .modal__header
            h5 Написать отзыв
          form(action="#" method="post").form
            .modal-body
              .form-group
                input(type="text" name="name" class="form-control" placeholder="Ваше имя" data-type="text" required)
              .form-group
                input(type="text" name="city" class="form-control" placeholder="Город" data-type="text" required)
              .form__group.modal__rating.flex
                span.rating__label Оценка:
                +rating(0, 5).js-stars
                  input(type="hidden" name="averageGrade" value="")
              .form-group
                textarea(name='plus' rows="1" placeholder="Достоинства" data-type="text").form-control
              .form-group
                textarea(name='minus' rows="1" placeholder="Недостатки" data-type="text").form-control
              .form-group
                textarea(name='review' rows="9" placeholder="Общие впечатления" data-type="text").form-control
              .form-group
                p.captcha__label Введите текст на картинке:
                .captcha
                  .captcha__item: img(src='images/temp/captcha.png')
                  input(type="text"  name="captcha").captcha__item.form-control
            .modal-footer
              button(type="submit" class="btn btn-primary").js-submit оставить отзыв

mixin choiceCityFirst()
  .modal.fade.modal-choiceCityFirst#choiceCityFirst(tabindex="-1" role="dialog")
    .modal-dialog
      .modal-content
        p.text-lg Вы в Санкт-Петербурге?
        .modal-choiceCityFirst__btn
          button(id="confirmCurrentCity" class="btn btn-primary") Да
          button(id="choiceCityBtn" class="btn btn-grey js-choiceCityBtn" ) Выбрать другой город
        p.text-sm От местоположения зависит стоимость, наличие и доставка

mixin choiceCity()
  .modal.fade.modal-choiceCity#choiceCity(tabindex="-1" role="dialog")
    .modal-dialog
      .modal-content
        ul.list-unstyled
          -var data = ['Санкт-Петербург', 'Астрахань', 'Барнаул', 'Белгород', 'Великий Новгород', 'Брянск', 'Владивосток', 'Волгоград'];
            each val in data
              li.modal-choiceCity__link: a(href='#')=val
      .modal-footer
        .modal-choiceCity__search
          input(value="" type="text" name="" autocomplete="off" placeholder="Поиск городов")
          span.icon.lens
