mixin icon-block()
  .icon-block&attributes(attributes)
    a.icon-block__link.flex
      span.icon-block__icons.flex
        span.icon-block__icon.heart-lg
        span.icon-block__icon_hover.heart-lg_red
        span.icon-block__amount 5
    a.icon-block__link.flex
      span.icon-block__icons.flex
        span.icon-block__icon.libra-lg
        span.icon-block__icon_hover.libra-lg_red
