mixin pagination()
  ul.pagination&attributes(attributes)
    li.pagination__item.pagination__start
      a(href="#").pagination__link В начало
    li.pagination__item.active
      a(href="#").pagination__link 1
    - for (var x = 2; x < 13; x++)
      li.pagination__item
        a(href="#").pagination__link=x

    li.pagination__item
      a(href="#").pagination__link.pagination__dots №...
    li.pagination__item
      a(href="#").pagination__link 125
    li.pagination__item.pagination__end
      a(href="#").pagination__link
        span Дальше
        span.icon-inline.arrow-right
