.btn-up {
  position: absolute;
  width: 44px;
  height: 44px;
  justify-content: space-between;
  align-items: center;
  border-radius: 50%;
  background-color: $color-dark-blue;
  opacity: 0;
  top: -50px;
  right: 30px;
  z-index: 1000;
  transition: $ease-main;
  cursor: pointer;
  @include media-breakpoint-down(md) {
    right: 10px;
  }

  &.fixed {
    bottom: 10px;
    top: auto;
    position: fixed;
  }

  &.visible {
    opacity: 1;

    &:hover {
      opacity: 0.8;
    }
  }

  .scroll {
    display: block;
    margin: 0 auto;
  }
}
