.select-panel {
    align-items: center;
    justify-content: flex-end;
    background-color: #f8f9fb;
    border-top: 1px solid $color-grey-light;
    border-left: 1px solid $color-grey-light;
    border-right: 1px solid $color-grey-light;
    padding-top: 10px;
    padding-bottom: 7px;
    padding-right: 7px;
    @include text-sm;

    @include media-breakpoint-down(sm) {
        justify-content: flex-start;
        flex-wrap: wrap;
    }

  &__header {
    padding-right: 10px;
    padding-left: 10px;
  }

  &__dropdown {
    position: relative;
    min-width: 260px;
    border: 1px solid $color-grey-light;
    background-color: $color-basic;

    @include media-breakpoint-down(sm) {
      min-width: 200px;
      margin-left: 10px;
    }

    .btn {
      justify-content: space-between;
      align-items: center;

      & > span {
        color: $color-darkgrey;
      }
    }
    .dropdown-menu {
      width: calc(100% + 2px);
      padding-top: 15px;
      left: -1px !important;
    }
    .dropdown-item {
      color: $link-color;
      line-height: initial;
      padding-left: 10px;
      padding-bottom: 20px;

      &:not(:last-child) {}
      @include text-sm;

      &:hover {
        background-color: transparent;
        color: $link-hover-color;
      }
    }
  }

  &__amount {
    color: $color-grey-thin;
  }

  &__btn {
    width: 100%;
    outline: none;
    box-shadow: none;

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}
