mixin list-dots(title, iconName)
  .list-dots
    .list-dots__header
      span(class=`icon ${iconName}`)
      span=title
    ul.list-unstyled
      block

mixin list-triangle()
  ul.list-unstyled&attributes(attributes)
    block
