mixin list-dots(title, iconName)
  if title && iconName
    .list-dots
      .list-dots__header
        span(class=`icon ${iconName}`)
        span=title
      ul.list-unstyled
        block
  else
    ul.list-unstyled
      block

mixin list-triangle()
  ul.list-unstyled&attributes(attributes)
    block

mixin list-dots-lg()
  ul.list-unstyled&attributes(attributes).list-dots-lg
    block
