mixin card-buy()
  .card-buy&attributes(attributes).flex
    .card-buy__top
      .card-buy__link.flex
        +icon-link('shared-lg', 'shared-lg_red').js-slideDown
        +icon-link('libra-lg', 'libra-lg_red')
        +icon-link('heart-lg', 'heart-lg_red')
        +icon-link('printer-lg', 'printer-lg_red')
      .card-buy__social
        +social
          -var data = ['whatsapp', 'tw', 'fb', 'vk', 'ok', 'telegram ', 'mail']
          -var data2 = ['Whatsapp' ,'Twitter', 'Facebook', 'ВКонтакте', 'Одноклассники', 'Telegram', 'Отправить на email']
            each val, index in data
              a(href='#' class=`social__link social__link_${val}`).flex
                span.icon(class=val title=data2[index])

      +price('oldprice').flex.card__price
      .text-center
        span.icon-inline.slider-next-disabled
        a(href="#" data-toggle="modal" data-target="#size").card__link.list-dots__link_dashed Промокод

    .card-buy__bottom
      +list-dots('Доставка', 'shipping')
        li.list-dots__item По #[a(href='#').list-dots__link_dashed Санкт-Петербургу] – 300 руб.
        li.list-dots__item #[a(href='#') Подъем на этаж] – 600 руб.
        li.list-dots__item Доставка за город – 35 руб/км.

      +list-dots('Оплата', 'wallet-grey')
        li.list-dots__item Наличными
        li.list-dots__item Безнал для юр. лиц
        li.list-dots__item Счет для оплаты в банке для физ. лиц

      +list-dots('Установка', 'settings')
        li.list-dots__item #[a(href='#') Установка] – Уточните у менеджера

      .div
        span.icon-inline.slider-next-disabled
        a(href="#" data-toggle="modal" data-target="#size").card__link.list-dots__link_dashed Бесплатный замер
