.price {
  flex-flow: row nowrap;
  align-items: center;


  &__item {
    //flex: 1;
    margin-bottom: 10px;

    a {
     width: 100%;
     display: flex;
     justify-content: flex-end;
     padding-right: 20px;

     @include media-breakpoint-between(md, lg) {
       justify-content: center;
     }

     @include media-breakpoint-down(xs) {
       justify-content: center;
     }
    }
  }

  &__old {
    display: block;
    text-align: center;
    text-decoration: line-through;
    color: $color-grey-thin;

    @include heading-5-thin;
  }

  &__new {
    min-width: 100px;
    max-width: 300px;
    height: 42px;
    display: block;
    text-align: center;
    position: relative;
    line-height: 42px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: $brand-primary;
    color: $color-basic;
    border-radius: 3px;

    @include media-breakpoint-between(md, lg) {
      flex: 1;
    }

    @include media-breakpoint-down(xs) {
      flex: 1;
    }
    @include heading-5;

    &:before {
      content: "";
      position: absolute;
      right: -14px;
      width: 0;
      height: 0;
      border-top: 21px solid transparent;
      border-bottom: 21px solid transparent;
      border-left: 15px solid $brand-primary;
    }

    &:hover {
      background-color: $link-hover-color;
      &:before {
        border-left-color: $link-hover-color;
      }
    }
  }
}
