mixin tab-delivery()
  .row
    .col-sm-12
      h2.tab-delivery__header Доставка оборудования в Санкт-Петербурге и Ленинградской области
      p Оформляя заказ на сайте Aero-control.ru online, Вы можете рассчитывать на своевременную доставку оборудования, не тратя время на изнурительные поездки, не беспокоясь о его сохранности. Мы доставляем климатические товары на любой адрес, указанный в заявке, в удобное для Вас время. Помимо Санкт-Петербурга и Ленинградской области, мы также доставляем товары во все регионы России, включая Крым.
      h2.tab-delivery__subheader Условия доставки:
      ol.tab-delivery__list
        li.tab-delivery__list-item.flex При подтверждении менеджером наличия товара на складе, доставка осуществляется на следующий день в интервале с 10:00 до 23:00. Если заявка была подана позднее 18:00, товары доставляются через день.
        li.tab-delivery__list-item.flex Доставка осуществляется до подъезда, при условии свободного места для проезда автомобиля. В случае проноса товара свыше 10 метров до подъезда, клиентом оплачивается стоимость проноса товара как подъем на 1-й этаж, по действующим тарифам за одну единицу товара. Доставка товара в частные дома осуществляется до ворот. При заносе товара в дом, оплачивается стоимость как подъем на 1-й этаж по действующим тарифам за единицу товара.
        li.tab-delivery__list-item.flex Оплата за оказанные услуги и произведенные работы осуществляется по факту экспедитору-курьеру. Вас попросят подписать необходимые в этом случае документы.

      h2.tab-delivery__subheader.tab-delivery__subheader_2 Стоимость доставки:
      p.tab-delivery__text_sm *по Санкт-Петербургу и Ленинградской области распространяется на все товары интернет-магазина Aero-control.ru одинаково.
      .table-responsive
        +table.table-bordered.tab-delivery__table
          tr
            td Доставка по городу при заказе на сумму менее 20 000 руб.
            td Стоимость доставки 500 руб.
          tr
            td Доставка по городу при заказе на сумму менее 20 000 руб.
            td Доставка бесплатно
          tr
            td Доставка за пределами КАД/ЗСД при заказе на сумму менее 20 000 руб.
            td Стоимость доставки 500 руб + 35 руб/км от крайней точки КАД/ЗСД
          tr
            td Доставка за пределами КАД/ЗСД при заказе на сумму менее 20 000 руб.
            td Стоимость 35 руб/км от крайней точки КАД/ЗСД


      #map.map

      h2.tab-delivery__subheader Стоимость доставки:

      .table-responsive
        +table.table-bordered.tab-delivery__table
          thead
          tr
            th Подъем на этаж
            th Без лифта
            th С лифтом

          tr
            td Подъем настенной сплит-системы
            td 200 руб./этаж
            td 600 руб./этаж
          tr
            td Подъем мульти сплит-системы
            td 250 руб./этаж
            td 600 руб./этаж
          tr
            td Подъем мобильного кондиционера
            td 250 руб./этаж
            td 600 руб./этаж
          tr
            td Подъем кассетного кондиционера
            td 350 руб./этаж
            td 700 руб./этаж
          tr
            td Подъем канального
            td 400 руб./этаж
            td 700 руб./этаж
          tr
            td Подъем промышленного оборудования
            td По договоренности
            td По договоренности
