mixin compare()
  .compare&attributes(attributes)
    .row.no-gutters.myborder-bottom
      .col-3.col-md-2.js-nameWidth
        .compare__header.active Только отличия
      .col-9.col-md-10
        +select-panel.flex
    .row.no-gutters
      .col-3.col-md-2
        .compare__header.myborder-bottom Все параметры
      .col-9.col-md-10
        .owl-carousel.gradient.js-slider-compare
          +product-card_new('oldprice', 'catalog2', true)
          +product-card_new('oldprice', 'catalog2', true)
          +product-card_new('oldprice', 'catalog2', true)
          +product-card_new('oldprice', 'catalog2', true)
          +product-card_new('oldprice', 'catalog2', true)

    .container-wide
      +compare-table.gradient
