.compare {
  overflow: hidden;
  position: relative;
  border: 1px solid $color-grey-light;

  &__header {
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
    color: $link-color;

    @include heading-6;

    &.active {
      color: $link-hover-color
    }
  }

  .product-card {
    max-width: 294px;
  }

  .select-panel {
    height: 100%;
    border-top: none;
    border-right: none;
  }

  .owl-carousel {
    margin-bottom: -1px;
    margin-top: -1px;

    .owl-nav {
      position: static;
    }

    .owl-next,
    .owl-prev {
      position: absolute;
      top: 0;
      border: none;
      border-radius: 0;
      background-color: transparent;

      width: 20px;
      height: 20px;
      bottom: 0;
      margin: auto;
      z-index: 3;
    }
    .owl-prev {
      left: 10px;
      // justify-content: flex-start;

      .icon {
        transform: rotate(180deg);
      }
    }

    .owl-next {
      right: 10px;
      // justify-content: flex-end;
    }

    .owl-next,
    .owl-prev {
      &.disabled {
        display: none;
      }

      &:hover {
        .arrow-next-sm_red {
          display: block;
        }
        .arrow-next-sm {
          display: none;
        }
      }
    }

    .arrow-next-sm_red {
      display: none;
    }
  }

  .myborder-bottom {
    border-bottom: 1px solid $color-grey-light;
  }

  .gradient:before {
        content: '';
        display: block;
        position: absolute;
        height: 100%;
        width: 90px;
        top: 2px;
        right: 0;
        background-image: linear-gradient(to left, rgba(255,255,255,.9) , rgba(255,255,255,0.4));
        z-index: 2;

        @include media-breakpoint-down(md) {
        width: 65px;
        }

        @include media-breakpoint-down(sm) {
          width: 45px;
        }
      }
  }
