.icon-link {
  &__icon {
    margin-right: 5px;
  }

  &_hover {
    display: none;
  }

  &:hover {
    .icon-link__icon {
      display: none;
    }

    .icon-link_hover {
      display: inline-block;
      margin-right: 5px;
    }
  }
  transition: all $ease-main;
}
