mixin tab-brand()
  .tab-brand__top
    .row
      .col-lg-3.col-md-12.col-sm-12
        .tab-brand__image.tab-brand__image_sm
          img(src=`images/temp/brand-1.png` alt='')
      .col-lg-6.col-md-8.col-sm-7
        p.tab-brand__description Компании Daikin Industries Limited принадлежит огромная часть рынка климатической техники в мире. Максимальные объемы продаж ее продукции осуществляются в Европе, Азии и Африке. «Местом рождения» компании считается Япония, но по факту это – многонациональная корпорация, которая имеет немало представительств за пределами Японии. DIL занимается производством тепловых установок, кондиционеров, систем промышленного охлаждения. Японское качество, научные наработки нескольких групп инженеров из лучших мировых институтов, только качественные материалы делают климатическую технику Daikin Industries Limited лидером продаж. Предприятие производит большой перечень техники — от систем контроля микроклимата до крупных промышленных теплоустановок.
        a(href='') Подробнее
      .col-lg-3.col-md-4.col-sm-5
        .tab-brand__cert
          a(href="images/temp/cert_1.png" data-fancybox='certificate'): img(src='images/temp/cert_1.png' alt='')

          p.tab-brand__cert-text Мы официальные дилеры!
  - for (var x = 1; x < 3; x++)
    .row
      .col-sm-12
        h2.tab-brand__header Настенные Кондиционеры Daikin
        p.tab-brand__subheader Серия Ururu Sarara
      .col-lg-3.col-md-6.col-sm-12
        .tab-brand__image.tab-brand__image_lg.flex
          img(src=`images/temp/brand-2.png` alt='')
      .col-lg-9.col-md-6.col-sm-12
        +banner-timer('red-img', 'icon-banner')
          p.banner__header Акция
          p.banner__text На всю продукцию Lessar скидка на монтаж 20%. Акция распространяется на бытовую серию и полупромышленное оборудование.  Не упустите выгоду!
        p.tab-brand__text Daikin ATXN — это новая серия бытовых настенных кондиционеров, которая обеспечивает благоприятный микроклимат и качественно чистит воздух в помещении. Серия была разработана на основе кондиционеров Daikin FTXN-M и имеет ряд преимуществ в сравнении с предыдущей моделью, а именно: новый двухрядный теплообменник с золотым напылением (не подвержен коррозии и имеет большую энергоэффективность) Был улучшен ряд характеристик — энергоэффективность, производительность и некоторые другие Daikin ATXN унаследовал все преимущества серии FTXN-M и имеет превосходное качество сборки и комплектующих. Кондиционеры снабжены эффективным и производительным инвертором, который позволяет легко достигать необходимых температурных значений. Кроме того, инвертор стабильно поддерживает комфортную температуру и низкий уровень шума.
    .table-responsive
      +table.tab-brand__table
        thead
          tr
            th Модель
            th.text-center Мощность
            th.text-center Уровень шума <br>внутреннего блока
            th.text-center Режим работы
            th.text-center Площадь
            th.text-center Инвестор
            th.text-center Стоимость
            th
        - for (var x = 1; x < 7; x++)
            tr
              td: a(href='').tab-brand__link Ururu Sarara FTXZ25N / RXZ25N
              td.text-center 2.8 кВт
              td.text-center 25 дБ
              td.text-center Охлаждение/обогрев
              td.text-center 28 м2
              td.text-center Есть
              td.text-center 124 400 р
              td.text-right: a(href='').btn.btn-primary купить
  .row
    .col-sm-12
      h2.tab-brand__header.tab-brand__text Купить кондиционеры Daikin из первых рук
      p.tab-brand__text Итак, вы решились купить кондиционер. Какую марку выбрать? Профессионалы советуют выбрать кондиционеры Daikin. Эта марка известна не так широко, как другие, но по качеству продукция этой фирмы находится на самом высоком уровне.
      p.tab-brand__text Кондиционеры Daikin. Цена и качество <br>Доверите ли вы чинить свою обувь повару? Или заказывать укладку плитки в фирме, занимающейся продажей игрушек? Думаю, вряд ли. Всё самое лучшее, что существует в мире, сделано профессионалами – людьми, отлично разбирающимися в какой-то узкой области и знающих своё дело. То же самое делает и компания Daikin – занимается выпуском кондиционеров, ни больше, ни меньше. Продукция этой фирмы отличается долговечностью, удобством, соответствует экологическим и санитарным нормам.
      p.tab-brand__text Если вы наберёте в поисковике «кондиционеры Daikin СПб», то результатов будет множество. Но мы советуем обращаться именно к нам – мы обеспечиваем поставки напрямую от производителя, и полностью исключаем продажу некачественного оборудования. На всю продукцию этой фирмы предоставляется гарантия.
