mixin comparision()
  .comparision&attributes(attributes)
    .row.no-gutters
      .col-3.col-md-2.border-right.border-light
        button(type="button").comparision__header.active.border-bottom.border-light Только отличия
        .comparision__header-wrapper
          button(type="button").comparision__header.border-bottom.border-light Все параметры
        .comparision__names
          .comparision__name.flex(data-row='0') Обслуживаемая площадь:
          .comparision__name.flex(data-row='1') Программы и режимы:
          .comparision__name.flex(data-row='2') Макс. перепад высот:
          .comparision__name.flex(data-row='3') Макс. длина коммуникаций:
          .comparision__name.flex(data-row='4') Макс. количество внутренних блоков:
          .comparision__name.flex(data-row='5') Мин. поддерживаемая температура:
          .comparision__name.flex(data-row='6') Ширина:
          .comparision__name.flex(data-row='7') Глубина:
          .comparision__name.flex(data-row='8') Высота:
          .comparision__name.flex(data-row='9') Вид индикации:


      .col-9.col-md-10
        +select-panel.flex

        .owl-carousel.js-slider-compare
          - for (var x = 1; x < 22; x++)
            +comparision-item
