mixin comparision()
  .comparision&attributes(attributes)
    .row.no-gutters
      .col-6.col-md-2.sm-order-2
        button(type="button").comparision__header.active.border-bottom.border-light Только отличия
      .col-12.col-md-10.sm-order-1
        +select-panel.flex
      .col-6.col-md-2.sm-order-3
        .comparision__header-wrapper
          button(type="button").comparision__header.border-bottom.border-light Все параметры

      .col-12.col-md-10.sm-order-4
        .comparision__slider
          .owl-carousel.js-slider-compare
            - for (var x = 1; x < 22; x++)
              +comparision-item
      .col-md-2
        .comparision__names
          .comparision__name.flex(data-row='0') Обслуживаемая площадь:
          .comparision__name.flex(data-row='1') Программы и режимы:
          .comparision__name.flex(data-row='2') Макс. перепад высот:
          .comparision__name.flex(data-row='3') Макс. длина коммуникаций:
          .comparision__name.flex(data-row='4') Макс. количество внутренних блоков:
          .comparision__name.flex(data-row='5') Мин. поддерживаемая температура:
          .comparision__name.flex(data-row='6') Ширина:
          .comparision__name.flex(data-row='7') Глубина:
          .comparision__name.flex(data-row='8') Высота:
          .comparision__name.flex(data-row='9') Вид индикации:
