mixin comparision()
  .comparision&attributes(attributes)
    .row.no-gutters
      .col-12.col-md-2.comparision__header-wrapper
        .comparision__sticky
          div
            button(type="button").comparision__header.active Только отличия
            button(type="button").comparision__header Все параметры

        .comparision__names.mt-auto
          .comparision__name.flex(data-row='0') Обслуживаемая площадь:
          .comparision__name.flex(data-row='1') Программы и режимы:
          .comparision__name.flex(data-row='2') Макс. перепад высот:
          .comparision__name.flex(data-row='3') Макс. длина коммуникаций:
          .comparision__name.flex(data-row='4') Макс. количество внутренних блоков:
          .comparision__name.flex(data-row='5') Мин. поддерживаемая температура:
          .comparision__name.flex(data-row='6') Ширина:
          .comparision__name.flex(data-row='7') Глубина:
          .comparision__name.flex(data-row='8') Высота:
          .comparision__name.flex(data-row='9') Вид индикации:

      .col-12.col-md-10
        +select-panel.flex
        .comparision__slider
          .owl-carousel.js-slider-compare
            - for (var x = 1; x < 22; x++)
              +comparision-item
