include ../header
include ../footer
include ../slider-section
include ../main-slider
include ../navbar
include ../popups
include ../product-card
include ../catalog-form
include ../consult
include ../service
include ../sub-catalog
include ../search-result
include ../header-search
