mixin project-card(imageName, type, header)
  .project-card&attributes(attributes).flex
    a(href='#').project-card__img
      img(src=`images/${imageName}.png` alt='')
    .project-card__header
      - header = header || 'Монтаж настенной сплит-системы Ballu'
      a(href='#').js-truncateText #{header}
    .project-card__content
      .project-card__item.flex
        .project-card__text.project-card__text_gray Тип объекта:
        .project-card__text.project-card__text_right #{type}
      .project-card__item.flex
        .project-card__text.project-card__text_gray Площадь:
        .project-card__text.project-card__text_right 29 000м<sup>2</sup>
      .project-card__item.flex
        .project-card__text.project-card__text_gray Задача:
        .project-card__text.project-card__text_right Охладить
      .project-card__item.flex
        .project-card__text.project-card__text_gray Бюджет:
        .project-card__text.project-card__text_right 206 000 руб.

    p.project-card__text_sm.js-truncateText Вентиляция, кондиционирование и водоснабжение оборонного завода Заслон Вентиляция, кондиционирование и водоснабжение оборонного завода Заслон
    a(href='#').btn.btn-primary.project-card__btn Подробнее
