.project-card {
  height: 540px;
  overflow: hidden;
  justify-content: flex-start;
  flex-direction: column;
  margin: 5px;
  padding: 10px;
  border: 1px solid #b8c3d05e;

  &:hover {
  box-shadow: 0 0 5px 0 rgba(0,0,0,.26);
}

  &__content {
    min-height: 110px;
    height: 110px;
    margin-bottom: 5px;
    border-bottom: 1px dashed #ccc;
  }

  &__item {
    margin-bottom: 4px;
  }

  &__text {
    flex: 1;

    &_gray {
      color: $color-grey-thin;
    }

    &_right {
      padding-left: 10px;
    }

    &_sm {
      max-height: 16.8/14*3em;
      overflow: hidden;
      margin: 0;

      @include text-medium;
    }
  }

  &__btn {
    align-self: flex-end;
    margin-top: auto;
  }

  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    height: 220px;
    min-height: 220px;

    img {
      max-width: 100%;
      object-fit: contain;
      max-height: 100%;
    }
  }

  &__header {
    a {
      display: block;
      max-height: 16.8/14*3em;
      overflow: hidden;
    }
    margin-bottom: 10px;
    min-height: 16.8/14*3em;
  }
}
