extends ../layouts/layout

block head
  - var pageTitle = 'Статья'

block content
  +header
  .page
    .section_gray-1
      .container
        nav(aria-label="breadcrumb").breadcrumb__wrapper
          ol.breadcrumb
            li.breadcrumb-item: a(href="#") Главная
            li(aria-current="page").breadcrumb-item.active Статья

    section.container.section__article
      h1 Статья
      .article-grid.flex
        .col1
          +product-list
        section.col2.article
          .row.no-gutters
            .col-xs-12.col3
              .article__img
                <img src="images/temp/article.png" class="img-responsive" alt="" />
              .article__content
                h2.article__header Самые популярные ванны и очень длинное название
                p Самой популярной и самой посещаемой комнатой в любом доме или квартире является ванная комната. Современный человек не представляет своего быта без ванны, душа и других предметов сантехнике. А ведь эти так необходимые всем предметы                пришли в наш быт не так уж и давно. Только в девятнадцатом столетии люди стали систематично принимать водные процедуры, а в моду вошло слово гигиена. Самым древним и самым практичным предметом, который дошел до наших дней и который помогает нам не только следить за чистотой тела но и улучшать свое физическое самочувствие была и остается ванна.
                p Ведь как приятно после напряженного трудового дня расслабиться в теплой, пенистой воде. А если в ванную добавить экстракт из лечебных трав или солей то процедура принятия ванны оздоровит ваш организм, вернет вам свежесть и бодрость.
                p Принятие ванны не должно быть простой гигиенической процедурой. С физическим удовлетворением вы должны испытать моральное успокоение. Принимая ванну почувствуйте гармонию души и тела и тогда водные процедуры будут полезны вашему организму.
                p Чтобы принятие ванны стало вашей самой любимой процедурой вы должны подобрать ванну, которая соответствует вашему характеру и стилю жизни. На рынке Украины очень разнообразны ванны по форме, качестве, цене, но по материалу из которого они изготовлены их можно разделить на три основные группы. Ванны бывают: чугунные, стальные, акриловые.
                h3.article__subheader Акриловые ванны
                p Первое место по популярности занимают акриловые ванны. Эти ванны очень популярны в Европе. На рынке Европы они известны более тридцати лет. В Украине акриловые ванны стали популярными более 10 лет. На отечественном рынке продаются как импортные так и отечественные ванны.
                p Акрил – это материал который относится к категории термопластов. <br> Преимущество акриловых ванн:
                ul.list-unstyled.list-dots-lg
                  li.list-dots-lg__item небольшой вес ( от 20 до 45 кг. в зависимости от модели и размеров);
                  li.list-dots-lg__item глухой звук при наполнении ванны водой (акрил звукопоглощающий материал);
                  li.list-dots-lg__item чаша ванны тепла на ощупь (материал обладает низкой теплопроводностью);
                  li.list-dots-lg__item поверхность ванны идеально ровная, зеркально гладкая;
                  li.list-dots-lg__item по прочности акриловые ванны не уступают чугунным ;
                  li.list-dots-lg__item легкие в уходе и эксплуатации.
                p Сначала акриловый лист толщиной 4-5 мм нагревают при высокой температуре до 160 градусов за Цельсием и формируют в пресс-форме. Охлажденную заготовку под ванну с наружной стороны покрывают смесью эпоксидной смолы и стекловолокна. Это придает ванне прочность. Процесс покрытия (армирование) повторяют несколько раз. От количества армирования зависит прочность ванны и ее цена. Ведь этот процесс очень трудоемкий и энергоемкий. Последний этап состоит из обрезания чаши, удаления облоя и формирования бортиков ванны.
                h2.article__header Пункт меню
                p  Наиболее качественные ванны производят в Германии Villeroy&Boch, Duravit; Чехии фирма Ravak; Турции Artemis на нашем рынке также представлены акриловые ванны Koller Pool (Австрия) эти ванны производятся из санитарного английского акрила с гарантией 10 лет. Также представлены акриловые ванны Kolo, Cersanit производства Польша и Украина. Производство акриловых ванн освоили и в Украине, ванны отечественного производства представлены на рынке под разными марками.
                h2.article__header Еще пункт меню
                p Наиболее качественные ванны производят в Германии Villeroy&Boch, Duravit; Чехии фирма Ravak; Турции Artemis на нашем рынке также представлены акриловые ванны Koller Pool (Австрия) эти ванны производятся из санитарного английского акрила с гарантией 10 лет. Также представлены акриловые ванны Kolo, Cersanit производства Польша и Украина. Производство акриловых ванн освоили и в Украине, ванны отечественного производства представлены на рынке под разными марками.
                h2.article__header Самые популярные ванны
                p Наиболее качественные ванны производят в Германии Villeroy&Boch, Duravit; Чехии фирма Ravak; Турции Artemis на нашем рынке также представлены акриловые ванны Koller Pool (Австрия) эти ванны производятся из санитарного английского акрила с гарантией 10 лет. Также представлены акриловые ванны Kolo, Cersanit производства Польша и Украина. Производство акриловых ванн освоили и в Украине, ванны отечественного производства представлены на рынке под разными марками.
                img(class="article__img" src="images/temp/article.png" alt="")
                h2.article__header Самые популярные ванны
                p Наиболее качественные ванны производят в Германии Villeroy&Boch, Duravit; Чехии фирма Ravak; Турции Artemis на нашем рынке также представлены акриловые ванны Koller Pool (Австрия) эти ванны производятся из санитарного английского акрила с гарантией 10 лет. Также представлены акриловые ванны Kolo, Cersanit производства Польша и Украина. Производство акриловых ванн освоили и в Украине, ванны отечественного производства представлены на рынке под разными марками.
                h2.article__header Самые популярные ванны
                p Наиболее качественные ванны производят в Германии Villeroy&Boch, Duravit; Чехии фирма Ravak; Турции Artemis на нашем рынке также представлены акриловые ванны Koller Pool (Австрия) эти ванны производятся из санитарного английского акрила с гарантией 10 лет. Также представлены акриловые ванны Kolo, Cersanit производства Польша и Украина. Производство акриловых ванн освоили и в Украине, ванны отечественного производства представлены на рынке под разными марками.
                img(class="article__img" src="images/temp/article.png" alt="")
                h2.article__header Самые популярные ванны
                p Наиболее качественные ванны производят в Германии Villeroy&Boch, Duravit; Чехии фирма Ravak; Турции Artemis на нашем рынке также представлены акриловые ванны Koller Pool (Австрия) эти ванны производятся из санитарного английского акрила с гарантией 10 лет. Также представлены акриловые ванны Kolo, Cersanit производства Польша и Украина. Производство акриловых ванн освоили и в Украине, ванны отечественного производства представлены на рынке под разными марками.
                h2.article__header Самые популярные ванны
                p Наиболее качественные ванны производят в Германии Villeroy&Boch, Duravit; Чехии фирма Ravak; Турции Artemis на нашем рынке также представлены акриловые ванны Koller Pool (Австрия) эти ванны производятся из санитарного английского акрила с гарантией 10 лет. Также представлены акриловые ванны Kolo, Cersanit производства Польша и Украина. Производство акриловых ванн освоили и в Украине, ванны отечественного производства представлены на рынке под разными марками.
                h2.article__header Самые популярные ванны
                p Наиболее качественные ванны производят в Германии Villeroy&Boch, Duravit; Чехии фирма Ravak; Турции Artemis на нашем рынке также представлены акриловые ванны Koller Pool (Австрия) эти ванны производятся из санитарного английского акрила с гарантией 10 лет. Также представлены акриловые ванны Kolo, Cersanit производства Польша и Украина. Производство акриловых ванн освоили и в Украине, ванны отечественного производства представлены на рынке под разными марками.
            .visible-lg.col4
              nav.navbar.nav.js-fixed
                h3.section__subheader Оглавление
                <!-- меню формируется в custom.js -->
                .article__nav
                  +list-triangle.product-list

    .section__consult
      .section__consult_bg
      .container
        .consult__wrapper
          +consult.consult_grey


  +footer
  +modal-callMe#callMe
