extends ../layouts/layout

block head
  - var pageTitle = 'Каталог'

block content
  +header
  .page
    .section_gray-1
      .container
        nav(aria-label="breadcrumb").breadcrumb__wrapper
          ol.breadcrumb
            li.breadcrumb-item: a(href="#") Главная
            li.breadcrumb-item: a(href="#") Каталог
            li.breadcrumb-item: a(href="#") Кондиционирование
            li.breadcrumb-item
              a(class="dropdown-toggle" href="#" role="button" id="breadcrumbDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Настенные кондиционеры
              div.dropdown-menu(aria-labelledby="breadcrumbDropdown")
                a(class="dropdown-item" href="#") Мобильные кондиционеры
                a(class="dropdown-item" href="#") Настенные кондиционеры
                a(class="dropdown-item" href="#") Кассетные кондиционеры
                a(class="dropdown-item" href="#") Напольно-потолочные кондиционеры
                a(class="dropdown-item" href="#") Колонные кондиционеры
                a(class="dropdown-item" href="#") Оконные кондиционеры
                a(class="dropdown-item" href="#") Канальные кондиционеры
                a(class="dropdown-item" href="#") Аксессуары
                a(class="dropdown-item" href="#") Мульти сплит системы
                a(class="dropdown-item" href="#") Аренда кондиционеров
                a(class="dropdown-item" href="#") Компрессорно-конденсаторные блоки
                a(class="dropdown-item" href="#") VRF системы
                a(class="dropdown-item" href="#") Фанкойлы
                a(class="dropdown-item" href="#") Кондиционеры
            li(aria-current="page").breadcrumb-item.active Настенные сплит-системы

    section.container.section__catalog
      .row.catalog__row.no-gutters
        .col-sm-12.visible-sm
          .catalog__header
            h1 Настенные кондиционеры 20 м² — 2 кВт
        .col-xl-3.col-lg-3.col-md-4.col-sm-12
          .catalog-form__header фильтр
          +catalog-form

        .col-xl-9.col-lg-9.col-md-8.col-sm-12
          .visible-md
            .catalog__header
              h1 Настенные сплит-системы
          +link-group()

          +filter-panel
          .row.no-gutters.catalog__product-card
            .col-xl-4.col-lg-6.col-md-6.col-sm-12
              +product-card_new('oldprice', 'catalog2')
                .label__container.flex
                  +label('green') акция
            .col-xl-4.col-lg-6.col-md-6.col-sm-12
              +product-card_new('oldprice', 'catalog-2')
                .label__container.flex
                  +label('blue') скидка
            .col-xl-4.col-lg-6.col-md-6.col-sm-12
              +product-card_new('oldprice', 'catalog-2')
                .label__container.flex
                  +label('green') акция
                  +label('blue') скидка
                  +label('orange') акция + скидка
            .col-xl-4.col-lg-6.col-md-6.col-sm-12
              +product-card_new('', 'catalog-1')
            - for (var x = 1; x < 12; x++)
              .col-xl-4.col-lg-6.col-md-6.col-sm-12
                +product-card_new('', 'catalog')

          .row.no-gutters
            .col-sm-12.catalog__view-more
              +pagination

          .row
            .col-sm-12
              .catalog-article
                h2.catalog-article__header Настенные кондиционеры в Санкт-Петербурге
                .catalog-article__item
                  p Настенные кондиционеры для квартиры, так же, как и для офиса или любого другого помещения – необходимый атрибут, который позволит создать благоприятный микроклимат в помещении. Но купить кондиционер не так просто, как кажется. Перед покупкой встают вопросы: «где купить настенные кондиционеры, какие настенные кондиционеры лучше купить?» Первое, что нужно сделать, понять, какая у вас площадь помещения, так как кондиционер в стандартной ситуации подбирается по параметру 1 кв.м. = 1 кВт. В нашем магазине замер на адресе бесплатный. Все кондиционеры разные и имеют различные ценовые предложения, чтобы не путаться и не приобретать прибор, который вам не подойдет, достаточно позвонить нашим опытным консультантам, и они помогут вам. Вы сэкономите время, а так как у нас есть предложения кондиционеров со скидкой, вы сможете купить кондиционер недорого.

                h2.catalog-article__header Где купить настенные кондиционеры?
                .catalog-article__item
                  p Масштаб товарных позиций на настенные кондиционеры, представленных на рынке, не дает возможности разместить все в магазине. Отлично просматривается конкурентная политика в интернете. Поэтому рекомендуем купить настенные кондиционеры в Санкт-Петербурге в интернет-магазине. Вы получите скидку на кондиционеры настенные типа, и еще мы доставим вам его до адреса.
            .col-sm-12.trancate-block
              h2.catalog-article__header Вам может быть интересно:
              .trancate-block__content
                - for (var x = 1; x < 86; x++)
                    a(href='#').trancate-block__item Carrier
              .trancate-block__btn.js-truncate
                a(href='#')


    .section__consult
      .section__consult_bg
      .container
        .consult__wrapper
          +consult.consult_grey

    +footer

  +modal-callMe#callMe
