extends ../components/layouts/layout

block head
  - var pageTitle = 'Каталог'

block content
  +header
  .page
    .section_gray-1
      .container
        nav(aria-label="breadcrumb").breadcrumb__wrapper
          ol.breadcrumb
            li.breadcrumb-item: a(href="#") Главная
            li.breadcrumb-item: a(href="#") Каталог
            li.breadcrumb-item: a(href="#") Кондиционирование
            li(aria-current="page").breadcrumb-item.active Настенные сплит-системы

    section.container.section__catalog
      .row.catalog__row
        .col-xl-3.col-lg-4.col-md-5.col-sm-12
          .catalog-form__header ВЫБОР ПО ПАРАМЕТРАМ:

          +catalog-form

        .col-xl-9.col-lg-8.col-md-7.col-sm-12
          .catalog__header
            h1 Настенные сплит-системы
          .sort-square
            p.sort-square__header Подобрать на площадь:
            .sort-square__items.flex
              .sort-square__item
                span До 20 м2
              .sort-square__item
                span 0 — 30 м2
              .sort-square__item
                span 30 — 40 м2
              .sort-square__item
                span 40 — 50 м2
              .sort-square__item
                span 50 — 60 м2
              .sort-square__item.active
                span 60 — 70 м2
              .sort-square__item
                span От 70 м2  и более
          .sort.flex
            span.sort__title Сортировать:
            button.btn.btn__sort
              span По цене
              span.sort__icon
                //span: i(aria-hidden="true").fa.fa-caret-up
                //span: i(aria-hidden="true").fa.fa-caret-bottom
                span.sort__icon_up
                span.sort__icon_down.active
            button.btn.btn__sort
              span По популярности
              span.sort__icon
                span.sort__icon_up
                span.sort__icon_down
            .sort__amount
              span.sort__title Показывать по:
              .sort__select
                select(name="onPageView" class="selectpicker form-control")
                  option(value="12") 12
                  option(value="26") 26
                  option(value="6") 6
          .row
            .col-md-6.col-lg-4.col-sm-12
              +product-card('smth')

            .col-md-6.col-lg-4.col-sm-12
              +product-card('oldprice')
                //.label__container
                  +label('blue') скидка
            .col-md-6.col-lg-4.col-sm-12
              +product-card()
            - for (var x = 1; x < 10; x++)
              .col-md-6.col-lg-4.col-sm-12
                +product-card()


          .col-sm-12.catalog__view-more
            a(href='#').btn.btn-grey ПОКАЗАТЬ ЕЩЕ

          .row
            .col-sm-12
              .catalog-article
                h2.section__subheader Настенные сплит-системы или настенные кондиционеры
                .catalog-article__item
                  p Сплит-система дословно переводится как «сдвоенная система» или иначе говоря, два связанных между собой блока кондиционера. Как правило, это внешний блок, расположенный снаружи помещения, отвечающий за основную работу системы и внутренний блок, посредствам которого, мы получаем прохладный, чистый воздух в помещении.
                  p Настенные сплит-системы один из самых наиболее популярных видов кондиционеров. Они используются в квартирах, домах, офисах, магазинах, и прочих помещениях до 80-100 квадратных метров. Отличительной особенностью такой системы является несложный монтаж относительно полупромышленных и промышленных климатических систем,                 и возможность установки практически на любое место. Современные модели данного типа кондиционеров обладают разнообразным дизайном и с легкостью впишутся в любое помещение.
                h2.section__subheader Инверторные и не инверторные сплит-системы
                .catalog-article__item
                  p Очень важным является деление данных кондиционеров на сплит-системы инверторного типа и сплит-системы не инверторного типа. Инвертор представляет собой плату управления кондиционером, которая позволяет контролировать мощность работы сплит-системы. Таким образом принципиальное отличие инверторного кондиционера от не инверторного кондиционера, заключается в том, что первый благодаря наличию данной платы, остудив комнату до нужной температуры не выключается сразу, а продолжает функционировать, но уже тратя на это гораздо меньшую энергию, что позволяет добиться экономии потребления электроэнергии и плавности охлаждения.
                  p Плюсы такого инверторного кондиционера:
                  ul.list-unstyled.catalog-article__list
                    li.catalog-article__list-item Экономия электроэнергии и как следствие денежных средств
                    li.catalog-article__list-item Плавность работы
                    li.catalog-article__list-item Точное поддержание заданной температуры

                  p Ниже Вы найдете все инверторные сплит-системы и не инверторные сплит-системы:
                  ul.list-unstyled.catalog-article__list
                    li.catalog-article__list-item Инверторные сплит-системы
                    li.catalog-article__list-item Не инверторные сплит-системы
                  h2.section__subheader Ассортимент кондиционеров
                  .catalog-article__item
                    p В нашем интернет-магазине представлено более 15 крупнейших производителей климатического оборудования как бюджетного сегмента, так и премиального. У нас вы можете купить кондиционеры Mitsubishi, Fujitsu, Daikin, Toshiba, Panasonic, Electrolux, LG, Ballu, Gree, Hitachi, Aero, QuattroClima, Lessar и многие другие известные бренды.
                    p Ниже Вы найдете настенные сплит-системы для разных площадей:
                    ul.list-unstyled.catalog-article__list
                      li.catalog-article__list-item Настенные слит-системы для 15 м2
                      li.catalog-article__list-item Настенные слит-системы для 20 м2
                      li.catalog-article__list-item Настенные слит-системы для 30 м2
                      li.catalog-article__list-item Настенные слит-системы для 40 м2
                      li.catalog-article__list-item Настенные слит-системы для 50 м2

                p.catalog-article__footer Мы всегда рады помочь Вам купить кондиционеры по низким ценам в Санкт-Петербурге или Москве, а так же доставить их в любой регион России.

  .section__consult
    .section__consult_dark
    .container
      .consult__wrapper
        +consult.consult_grey

  +footer

  +popup-call-me
