extends ../layouts/layout

block head
  - var pageTitle = 'Монтаж'

block content
  +header
  .page
    .section_gray-1
      .container
        nav(aria-label="breadcrumb").breadcrumb__wrapper
          ol.breadcrumb
            li.breadcrumb-item: a(href="#") Главная
            li(aria-current="page").breadcrumb-item.active Монтаж

    section.section__installation.container
      .row
        .col-sm-12
          h1 Монтаж

          p Компания ООО "Аэроконтроль" надежный партнер не только как поставщик оборудования, но и давно зарекомендовала себя, как монтажная компания с квалифицированным персоналом. Мы помогаем создавать проекты, осуществляем поставку оборудования, его монтаж, а также сервисное обслуживание техники. У каждой бригады есть все необходимые средства для установки. На счету компании сотни проектов различного уровня сложности. Представляем прейскурант установки оборудования:

          .installation__table
            h2.table__header Стандартный монтаж настенных сплит-систем
            .table-responsive
              +table.table-bordered
                thead.thead-dark
                  tr
                    th.right-col.text-center №
                    th Наименование работ / услуг
                    th.left-col Стоимость
                tr
                  td.text-center 1
                  td Монтаж настенной сплит-системы мощностью 2,2 кВт
                  td 8300 руб.
                tr
                  td.text-center 2
                  td Монтаж настенной сплит-системы мощностью 2,7 кВт
                  td 8500 руб.
                tr
                  td.text-center 3
                  td Монтаж настенной сплит-системы мощностью 3,7 кВт
                  td 8700 руб.
                tr
                  td.text-center 4
                  td Монтаж настенной сплит-системы мощностью 5,4 кВт
                  td 9400 руб.
                tr
                  td.text-center 5
                  td Монтаж настенной сплит-системы мощностью 6,5 кВт
                  td 10500 руб.
                tr
                  td.text-center 6
                  td Монтаж настенной сплит-системы мощностью 8 кВт
                  td 11500 руб.
                tr
                  td.text-center 7
                  td Монтаж настенной сплит-системы мощностью 10 кВт
                  td 16400 руб.
          .installation__table
            h2.table__header Стандартный монтаж настенных сплит-систем
            .table-responsive
              +table.table-bordered
                thead.thead-dark
                  tr
                    th.right-col.text-center №
                    th Наименование работ / услуг
                    th.left-col Стоимость
                tr
                  td.text-center 1
                  td Монтаж настенной сплит-системы мощностью 2,2 кВт
                  td 8300 руб.
                tr
                  td.text-center 2
                  td Монтаж настенной сплит-системы мощностью 2,7 кВт
                  td 8500 руб.
                tr
                  td.text-center 3
                  td Монтаж настенной сплит-системы мощностью 3,7 кВт
                  td 8700 руб.
                tr
                  td.text-center 4
                  td Монтаж настенной сплит-системы мощностью 5,4 кВт
                  td 9400 руб.
                tr
                  td.text-center 5
                  td Монтаж настенной сплит-системы мощностью 6,5 кВт
                  td 10500 руб.
                tr
                  td.text-center 6
                  td Монтаж настенной сплит-системы мощностью 8 кВт
                  td 11500 руб.
                tr
                  td.text-center 7
                  td Монтаж настенной сплит-системы мощностью 10 кВт
                  td 16400 руб.
          .installation__table
                    h2.table__header Стандартный монтаж настенных сплит-систем
                    .table-responsive
                      +table.table-bordered
                        thead.thead-dark
                          tr
                            th.right-col.text-center №
                            th Наименование работ / услуг
                            th.left-col Стоимость
                        tr
                          td.text-center 1
                          td Монтаж настенной сплит-системы мощностью 2,2 кВт
                          td 8300 руб.
                        tr
                          td.text-center 2
                          td Монтаж настенной сплит-системы мощностью 2,7 кВт
                          td 8500 руб.
                        tr
                          td.text-center 3
                          td Монтаж настенной сплит-системы мощностью 3,7 кВт
                          td 8700 руб.
                        tr
                          td.text-center 4
                          td Монтаж настенной сплит-системы мощностью 5,4 кВт
                          td 9400 руб.
                        tr
                          td.text-center 5
                          td Монтаж настенной сплит-системы мощностью 6,5 кВт
                          td 10500 руб.
                        tr
                          td.text-center 6
                          td Монтаж настенной сплит-системы мощностью 8 кВт
                          td 11500 руб.
                        tr
                          td.text-center 7
                          td Монтаж настенной сплит-системы мощностью 10 кВт
                          td 16400 руб.
          .installation__table
            h2.table__header Стандартный монтаж настенных сплит-систем
            .table-responsive
              +table.table-bordered
                thead.thead-dark
                  tr
                    th.right-col.text-center №
                    th Наименование работ / услуг
                    th.left-col Стоимость
                tr
                  td.text-center 1
                  td Монтаж настенной сплит-системы мощностью 2,2 кВт
                  td 8300 руб.
                tr
                  td.text-center 2
                  td Монтаж настенной сплит-системы мощностью 2,7 кВт
                  td 8500 руб.
                tr
                  td.text-center 3
                  td Монтаж настенной сплит-системы мощностью 3,7 кВт
                  td 8700 руб.
                tr
                  td.text-center 4
                  td Монтаж настенной сплит-системы мощностью 5,4 кВт
                  td 9400 руб.
                tr
                  td.text-center 5
                  td Монтаж настенной сплит-системы мощностью 6,5 кВт
                  td 10500 руб.
                tr
                  td.text-center 6
                  td Монтаж настенной сплит-системы мощностью 8 кВт
                  td 11500 руб.
                tr
                  td.text-center 7
                  td Монтаж настенной сплит-системы мощностью 10 кВт
                  td 16400 руб.
      .row
        .col-sm-12
          .measure.installation__measure
            +banner('red', 'measure-tr')
              p.banner__header Бесплатный выезд замерщика
              p.banner__text В случае, если у вас есть необходимость в замере помещения под приобретаемый товар, мы предлагаем вам услугу по бесплатному выезду замерщика.
            .measure__content.measure__content_lg
              p.measure__text Для того, чтобы вызвать замерщика, вам потребуется оформить заявку по телефону: #[span.measure__text_bold 8 (812) 649-05-19] либо прислать ее на наш электронный адрес #[a(href='#') info@aero-control.ru]
              p.measure__text При замере специалист:
              ol
                li Проконсультирует Вас по всем техническим вопросам, а также даст необходимые советы, связанные с установкой оборудования;
                li Определит существующие габариты места установки, при необходимости даст рекомендации по его корректировке;
                li Составит полную смету по установке оборудования с учётом всех необходимых дополнительных работ;
              p.measure__text Данный сервис также доступен для юридических лиц. Действует система скидок на крупные заказы.<br> После оформления заявки в рабочее время (9:00—18:00) с вами свяжется представитель нашего партнера для уточнения даты, времени и стоимости работ.
              p.measure__text Гарантия на все виды работ составляет #[span.measure__text_bold 1] год.
              p.measure__text Закажите бесплатный выезд замерщика по телефону: #[span.measure__text_bold 8 (812) 649-05-19]


    .section__consult
      .section__consult_bg
      .container
        .consult__wrapper
          +consult.consult_grey


  +footer
  +modal-callMe#callMe
