extends ../layouts/layout

block head
  - var pageTitle = 'Оплата'

block content
  +header
  .page
    .section_gray-1
      .container
        nav(aria-label="breadcrumb").breadcrumb__wrapper
          ol.breadcrumb
            li.breadcrumb-item: a(href="#") Главная
            li(aria-current="page").breadcrumb-item.active Оплата

    section.section__payment.container
      .row
        .col-sm-12
          h1 Оплата
          p.payment__subheader Мы предлагаем Вам на выбор следующие варианты оплаты:

          +payment-methods

          .payment
            h2.section__subheader Возврат и обмен товара надлежащего качества
            p.payment__text Товар приобретен в магазине Согласно статьи 25 закона «О защите прав потребителей» вы вправе обменять товар надлежащего качества на аналогичный товар в течение 14 дней, не считая дня покупки. Вы можете потребовать возврата уплаченных за товар средств только в том случае, если аналогичный товар отсутствует в продаже в день обращения. Исключения составляют товары надлежащего качества, не подлежащие обмену и возврату, в соответствии с законодательством РФ, например: парфюмерия, косметика, технически сложные товары (электроника, фотоаппаратура) и др. Товар приобретен дистанционно Согласно статьи 26.1 закона «О защите прав потребителей» вы вправе отказаться от товара, приобретенного дистанционно, в любое время до его передачи, а также в течение семи дней после передачи товара. Если информация о порядке и сроках возврата товара надлежащего качества не была предоставлена вам в письменной форме в момент доставки товара — вы можете отказаться от приобретения товара в течение трех месяцев. Исключения составляют товары надлежащего качества с индивидуально-определенными свойствами, которые могут быть использованы исключительно приобретающим его потребителем.

            .payment__image.flex
              span.icon.sign
              p Помните, что при возврате или обмене товара надлежащего качества должны быть сохранены: комплектация, товарный вид изделия, товарный вид упаковки. Изделие не должно иметь следов эксплуатации.

          .payment
            h2.section__subheader Возврат и обмен товара ненадлежащего качества
            p.payment__text При выявлении у приобретенного изделия недостатков вы вправе по своему выбору: · отказаться от товара; · потребовать замены купленного товара на товар этой же или другой модели (с перерасчетом цены); · потребовать уменьшения цены товара или безвозмездного устранения недостатков товара. Эти требования вы вправе предъявить при обнаружении недостатков как при приемке, так и в течение гарантийного срока или срока годности товара, а если такие сроки не установлены — в течение разумного срока (составляющего не более двух лет со дня получения товара).<br> Если вы приобрели технически сложный товар, такой как бытовая техника или компьютер, и обнаружили у товара недостатки, магазин обязан обменять данный товар на аналогичный или вернуть деньги в течение 15 дней со дня передачи вам товара ненадлежащего качества. Если этот срок прошел, технически сложный товар можно будет обменять или вернуть только в следующих случаях:
            ul.list-unstyled.list-dots-lg
              li.list-dots-lg__item у товара обнаружился существенный недостаток;
              li.list-dots-lg__item продавец нарушил установленные законом сроки устранения недостатков;
              li.list-dots-lg__item из-за необходимости устранения недостатков товар не может использоваться в совокупности более тридцати дней в течение гарантийного срока

          .payment
            h2.section__subheader Проведение экспертизы
            p.payment__text Если между вами и магазином возник спор о причинах возникновения недостатков, магазин вправе провести экспертизу товара. Экспертиза проводится за счет магазина. Вы вправе присутствовать при ее проведении. Для этого рекомендуем направить продавцу письменное заявление с пометкой о том, что проверка должна производиться в вашем присутствии. После того как магазин уведомит вас о времени проведении экспертизы, вы должны привезти товар для установления причин поломки. Это позволит избежать недоразумений, которые могут возникнуть, если вы не согласны с заключением экспертизы. Если в результате экспертизы будет установлено, что недостатки товара возникли не по вине магазина или изготовителя, вы будете обязаны возместить магазину расходы на проведение экспертизы, а также связанные с ее проведением расходы на хранение и транспортировку товара. Если вы не согласны с результатами экспертизы, вы вправе оспорить заключение в судебном порядке.

          .payment__footer
            p.payment__text Для получения информации по условиям возврата или обмена, приобретённого ранее товара, необходимо связаться по контактному телефону <br> #[span.payment__text_bold МСК 8 (495) 407-01-91, СПб 8 (812) 649-05-19]. <br>Перед обращением, пожалуйста подготовьте следующую информацию.
            ul.list-unstyled.list-dots-lg
              li.list-dots-lg__item Номер заказа
              li.list-dots-lg__item ФИО покупателя


    .section__consult
      .section__consult_bg
      .container
        .consult__wrapper
          +consult.consult_grey


  +footer
  +modal-callMe#callMe
