extends ../layouts/layout

block head
  - var pageTitle = 'Проекты'

block content
  +header
  .page
    .section_gray-1
      .container
        nav(aria-label="breadcrumb").breadcrumb__wrapper
          ol.breadcrumb
            li.breadcrumb-item: a(href="#") Главная
            li(aria-current="page").breadcrumb-item.active Проекты

    section.container.section__catalog
      .row.catalog__row
        .col-sm-12.visible-sm
          .catalog__header
            h1 Наши выполненные проекты
        .col-xl-3.col-lg-4.col-md-5.col-sm-12
          .catalog-form__header ВЫБОР ПО ПАРАМЕТРАМ:
          +project-form

        .col-xl-9.col-lg-8.col-md-7.col-sm-12
          .visible-md
            .catalog__header
              h1 Наши выполненные проекты

          .row.projects
            .col-xl-4.col-lg-6.col-md-12
              +project-card('temp/project-1', 'Производство', 'Поставка и монтаж мульти сплит-системы в частный дом Ленинградской области')
            .col-xl-4.col-lg-6.col-md-12
              +project-card('temp/project-3', 'Складское помещение')
            .col-xl-4.col-lg-6.col-md-12
              +project-card('temp/project-2', 'Квартира', 'совсем длинное название Поставка и монтаж мульти сплит-системы в частный дом Ленинградской области')
            - for (var x = 1; x < 10; x++)
              .col-xl-4.col-lg-6.col-md-12
                +project-card('main_3', 'Производство')

          .col-sm-12.catalog__view-more
            a(href='#').btn.btn-grey ПОКАЗАТЬ ЕЩЕ

    .section__consult
      .section__consult_bg
      .container
        .consult__wrapper
          +consult.consult_grey

    +footer

  +modal-callMe#callMe
