extends ../layouts/layout

block head
  - var pageTitle = 'Избранное'

block content
  +header
  .page
    .section_gray-1
      .container
        nav(aria-label="breadcrumb").breadcrumb__wrapper
          ol.breadcrumb
            li.breadcrumb-item: a(href="#") Главная
            li(aria-current="page").breadcrumb-item.active Избранное

    section.section__select.container
      .row
        .col-sm-12
          h1 Избранные товары
      .row
        .col-12
          .select__panel.flex
            .select__panel-header  Список товаров:
            .select__dropdown
              button.btn.select__btn.dropdown-toggle.flex(type="button" id="filterSelect" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                span Все #[span.select__amount  (#[span 8])]

              .dropdown-menu(aria-labelledby="filterSelect")
                a(class="dropdown-item" href="#") Кондиционеры
                  span (#[span 8])
                a(class="dropdown-item" href="#") Настенные
                  span (#[span 8])
                a(class="dropdown-item" href="#") Мобильные
                  span (#[span 12])


      .row.no-gutters.select__product-card
        .col-xl-3.col-lg-4.col-md-6.col-sm-12
          +product-card_new('oldprice', 'catalog2')
            .label__container.flex
              +label('green') акция
        .col-xl-3.col-lg-4.col-md-6.col-sm-12
          +product-card_new('oldprice', 'catalog-2')
            .label__container.flex
              +label('blue') скидка
        .col-xl-3.col-lg-4.col-md-6.col-sm-12
          +product-card_new('oldprice', 'catalog-2')
            .label__container.flex
              +label('green') акция
              +label('blue') скидка
              +label('orange') акция + скидка
        .col-xl-3.col-lg-4.col-md-6.col-sm-12
          +product-card_new('', 'catalog-1')
        - for (var x = 1; x < 2; x++)
          .col-xl-3.col-lg-4.col-md-6.col-sm-12
            +product-card_new('', 'catalog')





    .section__consult
      .section__consult_bg
      .container
        .consult__wrapper
          +consult.consult_grey


  +footer
  +modal-callMe#callMe
