mixin project-list()
  .project-list&attributes(attributes).flex
    .project-list__top
      a(href='#' data-toggle="modal" data-target="#mount").btn.btn-dark Заказать монтаж
    .project-list__item
      p.project-list__subheader Тип:
      p.project-list__text  Квартира
    .project-list__item
      p.project-list__subheader Название:
      p.project-list__text  Дом ...
    .project-list__item
      p.project-list__subheader Задача:
      p.project-list__text  Охладить
    .project-list__item
      p.project-list__subheader Бюджет
      p.project-list__text  8 000 руб.

    +list-dots()
      li.list-dots__item Бесплатный замер
      li.list-dots__item Бесплатная доставка
      li.list-dots__item Гарантия на выполненые работы 1 год
