mixin tab-set()
  .tab-set
    .tab-set__content
      .tab-set__item.flex
        p 1.Акриловая ванна Roca Easy ZRU9302899an
        p.tab-set__price 12 240 р.
      ul.list-unstyled
        li Ванна - 1 шт.
        li Инструкция - 1 шт.
      .tab-set__item.flex
        p 2. Монтажный набор дляRoca Easy ZRU9302900
        p.tab-set__price 4 430 р.
      ul.list-unstyled
        li Каркас - 1 шт.
        li Слив-перелив полуавтомат - 1 шт
        li Комплект креплений к стене - 1 шт.
        li Комплект креплений к фронтальной панели - 1 шт.
        li Инструкция - 1 шт.
      .tab-set__item.flex
        p 2. Монтажный набор дляRoca Easy ZRU9302900
        p.tab-set__price 4 430 р.
      ul.list-unstyled
        li Каркас - 1 шт.
        li Слив-перелив полуавтомат - 1 шт
        li Комплект креплений к стене - 1 шт.
        li Комплект креплений к фронтальной панели - 1 шт.
        li Инструкция - 1 шт.
