.service {
  padding-left: 30px;
  margin-bottom: 15px;

  &__header {
    text-transform: uppercase;
    color: #fff;
    @include text-15-bold;
  }

  &__icon {
    width: 45px;
    min-width: 45px;
  }

  &__content {
    padding-left: 10px;
  }

  &__text {
    color: $color-perano;
    @include text-15;
  }
}
