@import 'work/variables';
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap-select-v4/sass/bootstrap-select";
@import 'work/mixins';
@import 'work/fonts';
@import 'work/text-styles';
@import 'work/button';
@import 'work/perfect-scrollbar';
@import 'work/jquery.fancybox';
@import 'work/nouislider';
@import 'work/jquery.countdown';
@import "../blocks/**/*";
@import "../components/**/*";
@import '../pages/**/*';

.flex {
  display: flex;
}

body {
  color: $color-text;
  line-height: 1.2;
  @include text;
}

img {
  max-width: 100%;
}

.icon {
  display: block;
}

.icon-inline {
  display: inline-block;
}

.advantage {
  flex-flow: row nowrap;
  align-items: center;
  padding-left: 35px;
  @include media-breakpoint-down(md) {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &__icon {
    width: 70px;
    height: 70px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 50%;
    border: 1px solid $color-jelly-bean;
    background-color: transparent;
    margin-right: 12px;

    .icon {
      margin: 0 auto;
    }
  }
}

.map {
  width: 100%;
  height: 380px;
}

.dropdown-menu {
  width: 100%;
}

.page {
  width: 100%;
}

.catalog {
  &__row {
    @include media-breakpoint-up(xl) {
      & > .col-xl-3 {
        width: 24.90%;
      }

      & > .col-xl-9 {
        width: 75.10%;
      }
    }
  }

  &__col-sm {
    width: 24.90%;
    padding-right: 15px;
    padding-left: 15px;
  }

  &__col-lg {
    width: 75.10%;
    padding-left: 15px;
    padding-right: 15px;
  }

  &__header {
    padding-left: 24px;
    padding-bottom: 5px;
    border-bottom: 1px solid $color-grey-light;
    margin-bottom: 25px;
    margin-top: 15px;
  }

  &__view-more {
    text-align: center;
  }
}

.breadcrumb {
  &__wrapper {
    @include media-breakpoint-up(md) {
      padding-top: 65px;
    }
    @include media-breakpoint-up(xl) {
      padding-top: 55px;
    }
    @include media-breakpoint-down(sm) {
      padding-top: 25px;
    }
    padding-left: 0;
    color: $color-grey-thin;
    @include text-sm;

    .breadcrumb {
      padding: 0;
    }

    .breadcrumb-item.active {
      color: $color-darkgrey;
    }

    .breadcrumb-item {
      position: relative;

      .dropdown-menu {
        width: auto;
        border: 1px solid $color-grey-light;
        padding: 15px 0;
        box-shadow: 0 6px 6px 1px rgba(0,0,0,.1);
      }
    }

    .dropdown-item {
      color: $link-color;
      line-height: initial;

      &:not(:last-child) {
        padding-bottom: 12px;
      }
      @include text-sm;

      &:hover {
        background-color: transparent;
        color: $link-hover-color;
      }
    }

    .dropdown-toggle:after {
      border-top-color: #000;
    }

    a {
      color: inherit;
    }
    padding-bottom: 5px;
  }
}

.article,
.catalog-article {
  &__item {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  &__footer {
    color: $color-logo-red;
    text-transform: uppercase;
    line-height: 24px;
    @include heading-6;
  }
}

.article {
  padding-top: 20px;
}

.catalog-article {
  padding-top: 25px;

  &__header {
    @include heading-3-bold;
  }

  p {
    line-height: 1.47;
  }
}

.nav-link {
  &.active {
    border-bottom-color: transparent;
  }

  &_lg {
    padding: 15px;
    color: $color-darkgrey;
    @include text-medium-bold;
  }

  &_sm {
    color: #000;
    @include text-xs-bold;

    &.active {
      color: $color-logo-red;
    }
  }
}

.nav-tabs {
  .nav-link {
    &.active {
      border-bottom-color: transparent;
    }
  }

  .nav-item {
    flex-grow: 1;
    overflow: hidden;

    .nav-link {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: center;
    }
    @include media-breakpoint-only(lg) {
      flex: 0 50%;
    }
    @include media-breakpoint-down(md) {
      flex: 1 0 33.33%;
    }
    @include media-breakpoint-down(xs) {
      flex: 0 50%;
    }

    &_lg {
      @include media-breakpoint-only(lg) {
        flex-grow: 2;
      }
      @include media-breakpoint-down(xs) {
        flex-grow: 2;
      }
    }
  }
}

.nav-tabs-lg,
.nav-tabs-sm {
  .nav-link {
    text-transform: uppercase;
  }
}

.nav-tabs-sm {
  .nav-link-sm {
    color: #000;
    padding: 17px 10px;
    @include text-xs-bold;

    &.active {
      color: $color-logo-red;
    }
  }
}

.tabs-lg {
  padding-top: 28px;
  padding-bottom: 25px;
}

.tabs-sm {
  padding-top: 25px;
  margin-bottom: 30px;

  .tab-pane {
    padding-bottom: 20px;
    border-bottom: 1px solid $color-grey-light;
  }

  &__header {
    color: $color-logo-red;
    text-align: center;
    @include heading-5-thin;
  }
}

.tab-pane {
  &__video {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
  }

  .embed-responsive {
    margin-bottom: 20px;
  }

  &__cert {
    margin-right: -5px;
    margin-left: -5px;
    flex-flow: row nowrap;

    a[data-fancybox] {
      display: block;
      margin-left: 5px;
      margin-right: 5px;
      width: 33.33%;
    }

    img {
      object-fit: contain;
      width: 100%;
      border: 1px solid transparent;

      &:hover {
        border: 1px solid $link-hover-color;
        transition: $ease-main;
      }
    }
  }
}

.visible-lg {
  display: none;
  @include media-breakpoint-up(lg) {
    display: block;
  }
}

.visible-md {
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
  }
}

.visible-sm {
  display: none;
  @include media-breakpoint-down(sm) {
    display: block;
  }
}

.card {
  &__col-right {
    width: 11.44%;
    padding-left: 15px;
    padding-top: 10px;
    min-width: 103px;
  }

  &__col-center {
    width: 44.11%;
    padding-left: 15px;
    padding-right: 15px;
    @include media-breakpoint-only(md) {
      width: calc(100% - 103px);
    }
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }

  &__col-left {
    width: 41.55%;
    padding-left: 15px;
    @include media-breakpoint-down(md) {
      width: 100%;
      padding-right: 15px;
    }
    // TODO:
    .list-triangle {
      li {
        margin-bottom: 9px;
      }
      margin-bottom: 35px;
    }
  }

  &__slider {
    margin-bottom: 20px;

    .owl-item {
      padding-right: 1px;
    }
  }

  &__slider-item {
    height: 365px;
    align-items: center;
    justify-content: center;
    border: 1px solid $color-heather;
    margin: 5px;

    a {
      display: flex;
      height: 355px;
      align-items: center;
      justify-content: center;
      margin-top: 5px;
      margin-bottom: 5px;
    }

    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
  }

  &__banner {
    margin-bottom: 40px;
  }

  &__link {
    @include text-sm;
  }
}

.installation {
  &__table {
    margin-bottom: 40px;

    .right-col {
      width: 4.95%;
    }

    .left-col {
      width: 19.4872%;
    }

    .table {
      &__header {
        margin-bottom: 25px;
        @include text-lg;
      }

      td,
      th {
        padding-top: 16px;
        padding-bottom: 16px;
      }

      tr:nth-child(even) {
        background-color: $color-athens-gray1;
      }

      td:not(:first-child),
      th:not(:first-child) {
        padding-left: 38px;
      }
    }
  }

  &__measure {
    margin-bottom: 55px;
  }
}

.measure {
  &__text {
    margin-bottom: 18px;

    &_bold {
      font-weight: 700;
    }
  }

  &__content {
    padding: 30px 40px 40px;
    background-color: $color-athens-gray2;
  }

  ol {
    padding-left: 15px;
    margin-bottom: 5px;

    li {
      margin-bottom: 18px;
    }
  }
}

.nav-pills {
  &_lg {
    flex-wrap: nowrap;
    @include media-breakpoint-down(sm) {
      flex-wrap: wrap;
    }
  }

  .nav-item {
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    min-width: 0;

    &:hover {
      background-color: $nav-pills-link-active-bg;
      border-color: $nav-pills-link-active-bg;
      color: #fff;
    }

    &_lg {
      @include media-breakpoint-down(sm) {
        flex-basis: 100%;
        overflow: hidden;
      }
    }

    &_sm {
      @include media-breakpoint-down(sm) {
        flex-basis: 50%;
        overflow: hidden;
      }
    }
  }

  .nav-link {
    position: relative;
    color: $color-darkgrey;
    padding: 17px 29px 17px 38px;
    background-color: $color-athens-gray1;
    border: 1px solid $color-heather;
    border-radius: 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:before {
      @include triangle($color-darkgrey, right, 4px);
      left: 25px;
      top: calc(50% - 4px);
      margin: auto;
    }
    @include media-breakpoint-down(lg) {
      padding: 15px 15px 15px 20px;

      &:before {
        left: 10px;
      }
    }

    &:hover:before {
      border-left-color: #fff;
    }

    &:hover {
      background-color: $nav-pills-link-active-bg;
      border-color: $nav-pills-link-active-bg;
      color: #fff;
    }

    &.active {
      border-color: $nav-pills-link-active-bg;

      &:before {
        border-left-color: #fff;
      }
    }

    &_lg {
      padding: 17px 50px;

      &:before {
        left: 35px;
      }
      @include media-breakpoint-down(lg) {
        padding: 15px 20px 15px 25px;

        &:before {
          left: 15px;
        }
      }
    }
  }
}

.has-error {
  border: 1px solid $color-danger;
}

.navbar.fixed {
  position: fixed;
  max-width: 250px;
  transform: translate3d(0px, -370px, 0px);
}

.btn-fancybox {
  position: absolute;
  bottom: 0;
  width: 35px;
  height: 35px;
  border-radius: 0;
  margin: 0;
  padding: 13px 14px;
  background-color: $color-another-blue;
  z-index: 1000;

  &:hover {
    background-color: $color-logo-red;
  }

  &.button-next {
    right: 0;
  }

  &.button-prev {
    right: 37px;
  }

  &.disabled {
    background-color: $color-heather1;
    cursor: default;
  }
}

.trancate-block {
  &__content {
    max-height: calc(2.5*1.2 * .94rem);
    padding-bottom: 30px;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;

    &.show {
      height: auto;
      max-height: 400px;
      transition: max-height 0.4s ease-in-out;

      & + .trancate-block__btn {
        &:after {
          display: none;
        }

        a:before {
          content: 'Свернуть';
        }
      }
    }
  }

  &__item {
    display: inline-block;
    padding-right: 18px;

    &:focus {
      outline: none;
    }
  }

  &__btn {
    display: none;
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: transparent;
    color: inherit;
    text-align: right;
    padding-top: 2px;
    pointer-events: none;

    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: calc(2*1.2 * .94rem);
      background-color: #fff;
      pointer-events: none;
      background: linear-gradient(0deg,#fff,hsla(0,0%,100%,0));
      z-index: 1;
    }

    a {
      position: relative;
      z-index: 2;
      pointer-events: all;
      color: inherit;
      @include text-sm;

      &:before {
        content: 'Развернуть';
      }

      &:hover {
        color: $link-hover-color;
      }

      &:focus,
      &:hover {
        outline: none;
      }
    }
  }
}

.projects {
  .project-card {
    margin-bottom: 15px;
  }
}

.container_overflow {
  overflow: hidden;
}

.container-wide {
  width: auto;
}
