head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimal-ui')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')

  block head
  title= pageTitle || ''
  link(href='style/main.css' rel='stylesheet')
  link(href='style/icons.min.css' rel='stylesheet')
  //link( rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
  link(href='scripts/libs/owl-carousel/owl.carousel.css' rel='stylesheet')
  link(href='scripts/libs/owl-carousel/owl.theme.default.css' rel='stylesheet')
  //link(href='scripts/libs/nouislider/nouislider.min.css' rel='stylesheet')
  //link(href="style/font-awesome.min.css" rel="stylesheet")


  //link(href="/open-iconic/font/css/open-iconic.css" rel="stylesheet")


  <!-- yandex map -->
  script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
