mixin search-result()
  .search-result&attributes(attributes)
    .search-result__row.flex
      .search-result__category Бренд
      .search-result__wrapper
        .search-result__content.flex
          .search-result__img.flex
            a(href='#'): img(src='images/search-1.png')
          .search-result__description
            .search-result__name
              a(href='#').search-result__link Инверторный кондиционер Premium SLIM Design Super DC Inverter
            .search-result__text
            .search-result__text
    .search-result__row.flex
      .search-result__category Коллекции
      .search-result__wrapper
        .search-result__content.flex
          .search-result__img.flex
            a(href='#'): img(src='images/full.png')
          .search-result__description
            .search-result__name
              a(href='#').search-result__link Инверторный кондиционер Premium SLIM Design Super DC Inverter
              span Артикул: 89002
            .search-result__text
              span #[span 59] товаров
            .search-result__text
    .search-result__row.flex
      .search-result__category Категории
      .search-result__wrapper
        .search-result__content.flex
          .search-result__img.flex
            a(href='#'): img(src='images/search-1.png')
          .search-result__description
            .search-result__name
              a(href='#').search-result__link Инверторный кондиционер Premium SLIM Design Super DC Inverter
              span Артикул: 89002
            .search-result__text
              span #[span 59] товаров
            .search-result__text
    .search-result__row.flex
      .search-result__category Товары
      .search-result__wrapper
          .search-result__content.flex
            .search-result__img.flex
              a(href='#'): img(src='images/search-1.png')
            .search-result__description
              .search-result__name
                a(href='#').search-result__link Инверторный кондиционер Premium SLIM Design Super DC Inverter
                span Артикул: 89002
              .search-result__text
                span #[span 59] товаров
              .search-result__text
                span #[span 57 000] руб.
          .search-result__content.flex
            .search-result__img.flex
              a(href='#'): img(src='images/search-1.png')
            .search-result__description
              .search-result__name
                a(href='#').search-result__link Инверторный кондиционер Premium SLIM Design Super DC Inverter
                span Артикул: 89002
              .search-result__text
                span #[span 59] товаров
              .search-result__text
                span #[span 57 000] руб.
    .search-result__row.flex
      .search-result__category
      .search-result__wrapper
        .search-result__content.flex
          a(href='#').search-result__link Все результаты поиска (#[span 1590])
