mixin card-description()
  .card-description&attributes(attributes).flex
    .card-description__col
      p.card-description__text
        span Производитель:
        a(href='').card-description__link Lessar
      p.card-description__text
        span Серия:
        a(href='').card-description__link Ururu Sarara
      p.card-description__text
        img(src='images/china.png' alt='').card-description__img
        span Китай
      p.card-description__text Площадь, м#[sup 2]
      p.card-description__text Уровень шума, дБа
      p.card-description__text Инвертор
      p.card-description__text Инвертор
      p.card-description__text Инвертор
      p.card-description__text Инвертор
      a(href="#spec").js-toTabs  Подробнее


    .card-description__col.flex
      .card-description__brand
        a(href=''): img(src='images/temp/brand.png' alt='')
