mixin card-description()
  .card-description&attributes(attributes).flex
    .card-description__col
      .card-description__rating
        +rating(5)
        p.rating__text Отзывы
          a(href="#feedback").rating__link.js-toTabs (#[span.rating__count 12])
      p.card-description__text
        span Производитель:
        a(href='').card-description__link Lessar
      p.card-description__text
        span Серия: 
        a(href='').card-description__link Ururu Sarara
      p.card-description__text Артикул: 13239


    .card-description__col.flex
      .card-description__brand
        img(src='images/temp/brand.png')
