.card-description {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px dashed #ccc;

  &__col {
    flex-grow: 1;

    @include text-sm;

    @include media-breakpoint-down(sm) {
      max-width: 50%;
    }
  }

  &__brand {
    margin: auto;
    padding-top: 20px;
  }

  &__text {
    color: $color-grey-thin;
    margin-right: 5px;
    margin-bottom: 5px;

    //@include text-sm;
  }

  &__link {
    margin-left: 5px;

    @include media-breakpoint-down(sm) {
      display: block;
      margin-left: 0;
    }
  }

  &__img {
    margin-right: 8px;
    width: auto!important;
  }

  &__rating {
    display: inline-flex;
    flex-flow: wrap;
  }

  .rating__text {
    margin-bottom: 10px;
  }


}
