.owl-carousel {
  margin-bottom: 10px;

  .owl-nav {
    position: absolute;
    display: flex;
    top: -60px;
    right: 0;
    padding: 0;
    margin: 0;
    padding-left: 6px;
    background-color: transparent;

    .owl-next,
    .owl-prev {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
      background-color: $color-another-blue;
      width: 30px;
      height: 32px;
      border-radius: 50%;
      border: 1px solid $color-another-blue;
      margin: 0;

      .slider-next-disabled,
      .slider-prev-disabled {
        display: none;
      }

      &.disabled {
        background-color: transparent;
        border-color: $color-grey;

        .slider-next-disabled,
        .slider-prev-disabled {
          display: block;
        }

        .slider-next,
        .slider-prev {
          display: none;
        }
      }

      &.disabled:hover {
        background-color: #fff;
        border: 1px solid $color-another-blue;
      }
    }

    .owl-prev {
      margin-right: 5px;
    }
  }
}

.owl-dots {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: auto;


}

.slider {
  &__item {
    max-width: 170px;
    padding: 5px;
    border: 1px solid $color-grey-light;
  }

  &__item-2 {
    img {
      margin-bottom: 15px;
    }
  }

  &__title {}
}

.main-slider {
  @include media-breakpoint-down(md) {
    display: none;
  }

  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
    z-index: -1;
  }

  &__header {
    padding-top: 20px;
    font-style: italic;
    color: #fff;
    @include heading-1;
  }

  &__subheader {
    color: #fff;
    margin-bottom: 25px;
    @include heading-2;
  }

  &__text {
    margin-bottom: 25px;
    @include text-md;

    &_lg {
      @include heading-1;
      font-style: italic;
      text-align: right;
      margin-top: 20px;
    }

    &_discount {
      @include text-md-bold;
      text-transform: uppercase;
      line-height: 1.15;
      position: relative;
      padding-left: 60px;

      .wrench {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  &__content {
    position: relative;
    justify-content: space-between;
  }

  &__slide {
    position: relative;
    padding-top: 60px;
    color: #fff;
  }
  &.owl-carousel {
    margin-bottom: 0;
  }
  .owl-dot {
    display: inline-block;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: $color-logo-dot;
    margin-right: 4px;
    margin-left: 4px;

    &.active {
      background-color: $color-logo-red;
    }
  }
      @include media-breakpoint-down(md) {
        .owl-carousel {
          display: none;
        }
      }
}
