.filter-panel {
  flex-flow: row nowrap;
  align-items: center;
  min-height: 44px;
  line-height: 44px;
  margin-bottom: 8px;
  @include text-sm;

  @include media-breakpoint-down(md) {
    flex-flow: row wrap;
  }

  &__total {
    height: 44px;
    padding-right: 19px;
    padding-left: 23px;
    border: 1px solid $color-grey-light;

    @include media-breakpoint-down(md) {
      flex-grow: 1;
      margin-bottom: -1px;
      flex-basis: 100%;
      text-align: center;
    }

    & > span {
      padding-right: 5px;
    }

  }

  &__dropdown {
    position: relative;
    height: 44px;
    flex-grow: 1;
    text-align: center;
    border: 1px solid $color-grey-light;
    margin-left: -1px;

    .dropdown-toggle:after {
      content: none;
    }
    @include media-breakpoint-down(md) {
      margin-left: 0;
    }
    .btn {
      outline: none;
      box-shadow: none;

      &:focus {
        outline: none;
        box-shadow: none;
      }
    }

    .dropdown-menu {
      width: calc(100% + 2px);
      top: -1px;
      left: -1px;
      border: 1px solid $color-grey-light;
      padding: 19px 20px;
      box-shadow: 0 6px 6px 1px rgba(0,0,0,.1);
    }

    .dropdown-item {
      color: $link-color;
      line-height: initial;

      &:not(:last-child) {
        padding-bottom: 19px;
      }
      @include text-sm;

      &:hover {
        background-color: transparent;
        color: $link-hover-color;
      }
    }
  }

  &__select {
    height: 44px;
    padding-left: 22px;
    padding-right: 5px;
    border: 1px solid $color-grey-light;
    margin-left: -1px;

    @include screen('xs', max) {
      margin-top: -1px;
      margin-left: 0;
      width: 100%;
      text-align: center;
    }

    .show > .btn-light.dropdown-toggle {
      background-color: transparent;
    }

    .btn-light {
      border-color: transparent;
    }

    .btn {
      padding-left: 0;
    }

    .sort__select .form-control {
      background-color: transparent;
      border-color: transparent;
    }

    .sort__select {
      width: auto;
    }

    .dropdown-item {
      padding-left: 5px;
      padding-right: 5px;
      text-align: center;

      @include text-sm;
    }
  }
}
