mixin consult()
  .consult&attributes(attributes).flex
    .consult__col-sm
      p.consult__header нужна  консультация?
    .consult__col-lg
      p Подробно расскажем о наших услугах и оборудовании, рассчитаем стоимость и подготовим индивидуальное предложение. Оставьте заявку прямо сейчас!
    .consult__col-md
      .btn.btn-primary оставить заявку
    
