.compare-table {
  position: relative;

  @include text-sm;

  &__row {
    width: 100%;
    display: table;
    table-layout: fixed;
    border-top: 1px solid $color-grey-light;
    &.active {
      background-color: #f8f9fb;
    }
  }

  &__name {
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: table-cell;
    vertical-align: middle;
    word-break: break-word;
  }

  &__cell {
    padding: 20px 16px 18px 17px;
    display: table-cell;
    vertical-align: middle;
    border-left: 1px solid $color-grey-light;
        word-break: break-word;
  }

  .float-r {
    float: right;
  }
}
