mixin article-preview()
  .article-preview(attributes).row.no-gutters
    .col-sm-4
      a( href="#").article-preview__img: img(src="images/temp/article-sm.png" class="img-responsive" alt="")

    .col-sm-8
       h2.article-preview__header Самые популярные ванны
       p  Самой популярной и самой посещаемой комнатой  в любом доме или квартире является ванная комната. Современный человек не представляет своего быта без ванны, душа и других предметов сантехнике. А ведь эти так необходимые всем предметы пришли в наш быт не так уж и давно. Только в девятнадцатом столетии люди стали систематично принимать водные процедуры, а в моду вошло слово гигиена. Самым древним и самым практичным предметом, который дошел до наших  дней и который помогает нам не только следить за чистотой тела но и улучшать свое физическое самочувствие была и остается ванна.
       a(href="#") Подробнее
