mixin card-set()
  +set('комплект 1')
    .set__content.row
      .set__item
        .set__img.flex
          img(src='images/temp/set-1.png' alt='')
        .set__text Сплит-система Lessar
        .set__text.set__text_grey 12 000 руб.
        .set__text 10 570 руб.
      .set__item
        .set__img.flex
          img(src='images/temp/set-2.png' alt='')
        .set__text Сплит-система Lessar
        .set__text 10 570 руб.
      .set__item
        .set__img.flex
          img(src='images/temp/set-3.png' alt='')
        .set__text Сплит-система Lessar
        .set__text.set__text_grey 12 000 руб.
        .set__text 10 570 руб.
    .set__footer.flex
      .set__total
        span.set__text Общая стоимость:
        span.set__text.set__text_lg 45 000 руб.
      .set__saving
        span.set__text Экономия:
        span.set__text.set__text_lg.set__text_red 3 000 руб.
      .set__price
        span.set__text Цена комплекта::
        span.set__text.set__text_lg 42 000 руб.
      a(href="#").btn.btn-primary заказать комплект

  +set('комплект 2')
    .set__content.row
      .set__item
        .set__img.flex
          img(src='images/temp/set-1.png' alt='')
        .set__text Сплит-система Lessar
        .set__text.set__text_grey 12 000 руб.
        .set__text 10 570 руб.
      .set__item
        .set__img.flex
          img(src='images/temp/set-2.png' alt='')
        .set__text Сплит-система Lessar
        .set__text.set__text_grey 12 000 руб.
        .set__text 10 570 руб.
      .set__item
        .set__img.flex
          img(src='images/temp/set-3.png' alt='')
        .set__text Сплит-система Lessar
        .set__text.set__text_grey 12 000 руб.
        .set__text 10 570 руб.
      .set__item
        .set__img.flex
          img(src='images/temp/set-2.png' alt='')
        .set__text Сплит-система Lessar
        .set__text.set__text_grey 12 000 руб.
        .set__text 10 570 руб.
      .set__item
        .set__img.flex
          img(src='images/temp/set-3.png' alt='')
        .set__text Сплит-система Lessar
        .set__text.set__text_grey 12 000 руб.
        .set__text 10 570 руб.
    .set__footer.flex
      .set__total
        span.set__text Общая стоимость:
        span.set__text.set__text_lg 45 000 руб.
      .set__saving
        span.set__text Экономия:
        span.set__text.set__text_lg.set__text_red 3 000 руб.
      .set__price
        span.set__text Цена комплекта::
        span.set__text.set__text_lg 42 000 руб.
      a(href="#").btn.btn-primary заказать комплект
