include ../blocks/form-elements/form-elements
include ../blocks/modals/modals
include ../blocks/service/service
include ../blocks/slider-section/slider-section
include ../blocks/sort/sort
include ../blocks/lists/lists
include ../blocks/set/set
include ../blocks/rating/rating
include ../blocks/download/download
include ../blocks/nav-slider/nav-slider
include ../blocks/banner/banner
include ../blocks/table/table
include ../blocks/payment-methods/payment-methods
include ../blocks/cross/cross
include ../blocks/icon-link/icon-link
include ../blocks/pagination/pagination
include ../blocks/filter-panel/filter-panel
include ../blocks/select-panel/select-panel
include ../blocks/price/price
include ../blocks/slider-label/slider-label


include ../components/catalog-form/catalog-form
include ../components/consult/consult
include ../components/footer/footer
include ../components/header/header
include ../components/header-search/header-search
include ../components/main-slider/main-slider
include ../components/navbar/navbar
include ../components/product-card/product-card
include ../components/search-result/search-result
include ../components/sub-catalog/sub-catalog
include ../components/card-buy/card-buy
include ../components/card-faq/card-faq
include ../components/danger-block/danger-block
include ../components/card-tabs/card-tabs
include ../components/card-set/card-set
include ../components/feedback/feedback
include ../components/spec/spec
include ../components/card-description/card-description
include ../components/tab-set/tab-set
include ../components/tab-brand/tab-brand
include ../components/tab-delivery/tab-delivery
include ../components/product-list/product-list
include ../components/article-preview/article-preview
include ../components/project-list/project-list
include ../components/project-card/project-card
include ../components/link-group/link-group
include ../components/comparision-item/comparision-item
include ../components/comparision/comparision
