include _internalIncludes

doctype html
html(lang='en')
  include head
  body
    block content
    //script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    //script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>


    script(src='scripts/libs/bootstrap.min.js')
    script(src='scripts/libs/bootstrap-select.min.js')
    script(src='scripts/libs/owl-carousel/owl.carousel.min.js')
    script(src='scripts/libs/nouislider/nouislider.min.js')
    script(src='scripts/libs/jquery.scrollbar.min.js')
    script(src='scripts/libs/inputmask.js')
    script(src='scripts/libs/jquery.inputmask.js')

    script(src='scripts/custom.js')
