mixin catalog-form()
  form.catalog-form(action='/smth?_format=json')&attributes(attributes)
    .catalog-form__item
      .catalog-form__subheader цена
      .catalog-form__range
        .inputbox
          input(data-handler="0" type="number" min="1" max="100" value='' name='range_1-1').inputbox__item
          span.inputbox__range
          input(data-handler="1" type="number" min="0" max="100" name='range_1-2').inputbox__item
        .catalog-form__price-slider#keypress.js-range
    .catalog-form__item
      .catalog-form__subheader акция
      +checkbox('test') Скидка на монтаж
        +num(1)
    .catalog-form__item
      .catalog-form__subheader тип
      .catalog-form__group
        +checkbox('test') Настенная сплит-система
          +num(1)
    .catalog-form__item
      .catalog-form__subheader ТИП КОНДИЦИОНЕРА
      .catalog-form__group
        +checkbox('name') Настенная сплит-система
          +num(1)
    .catalog-form__item
      .catalog-form__subheader ПРОИЗВОДИТЕЛЬ
      +search().catalog-form__search
      .catalog-form__group
        -var data = ['AERO', 'Ballu', 'Chigo', 'Daikin', 'Fujitsu ', 'Electrolux', 'General', 'Daikin', 'Fujitsu ', 'Electrolux', 'General', 'AERO', 'Ballu', 'Chigo', 'Daikin', 'Fujitsu ', 'Electrolux', 'General', 'Daikin', 'Fujitsu ', 'Electrolux', 'General']
        -var data2 = ['0', '0', '1', '0', '0 ', '0', '0', '0', '0 ', '0', '0', '0', '0', '1', '0', '0 ', '0', '0', '0', '0 ', '0', '0']
          each val, index in data
            +checkbox()=val
              +num(data2[index])
    .catalog-form__item
      .catalog-form__subheader СТРАНА
      .catalog-form__group
        -var data = ['Италия', 'Китай', 'Малайзия', 'Таиланд', 'Турция ', 'Чехия', 'Южная Корея', 'Италия', 'Китай', 'Малайзия', 'Таиланд', 'Турция']
        -var data2 = ['1', '0', '1', '0', '0 ', '0', '0', '0', '0 ', '0', '0', '0']
          each val, index in data
            +checkbox()=val
              +num(data2[index])
    .catalog-form__item
      .catalog-form__subheader МОЩНОСТЬ ОХЛАЖДЕНИЯ, КВТ
      .catalog-form__range
        .inputbox
          input(data-handler="0" type="number" min="1" max="100" value='' name='range_2-1').inputbox__item#input-2
          span.inputbox__range
          input(data-handler="1" type="number" min="1" max="100" name='range_2-2').inputbox__item#input-3
        .catalog-form__price-slider.js-range
    .catalog-form__item
      .catalog-form__subheader ПЛОЩАДЬ ПОМЕЩЕНИЯ, КВ.М.
      .catalog-form__group
        -var data = ['8', '20', '21', '23', '24 ', '25', '7', '9', '8', '4', '6', '6']
        -var data2 = ['1', '37', '14', '19', '15 ', '4', '73', '0', '0 ', '0', '0', '0']
          each val, index in data
            +checkbox()=val
              +num(data2[index])
    .catalog-form__item
      .catalog-form__subheader ИНВЕРТОР
      +checkbox('name') Есть
        +num(57)
      +checkbox('name0') Нет
        +num(17)
    .catalog-form__item
      .catalog-form__subheader ОСНОВНЫЕ РЕЖИМЫ
      +checkbox('name1') Охлаждение
        +num(2)
      +checkbox('name2') Охлаждение / обогрев
        +num(72)
    .catalog-form__button
      a(href='#').btn.btn-primary.js-submit показать
      a(href='#').btn.btn-grey.js-reset сбросить
    .mypopover
      span.mypopover__item Выбрано: #[span.num 74]
      a(href="#").mypopover__item Показать


mixin project-form()
  form.catalog-form.project-form(action='/smth?_format=json')&attributes(attributes)
    .catalog-form__item
      .catalog-form__subheader Виды работ
      .catalog-form__group
        -var data = ['Вентиляция', 'Кондиционирование', 'Общестроительные работы', 'Отопление и водоснабжение', 'Электроснабжение']
        -var data2 = ['0', '0', '1', '0', '0 ']
          each val, index in data
            +checkbox()=val
              +num(data2[index])
    .catalog-form__item
      .catalog-form__subheader Тип объекта
      .catalog-form__group
        -var data = ['Бассейн', 'Загородный дом', 'Кафе/Ресторан', 'Квартира', 'Магазин ', 'Офис', 'Производство', 'Прочие', 'Склад']
        -var data2 = ['1', '0', '1', '0', '0 ', '0', '0', '0', '0 ', '0', '0', '0']
          each val, index in data
            +checkbox('test')=val
              +num(data2[index])

    .catalog-form__button
      a(href='#').btn.btn-primary.js-submit показать
      a(href='#').btn.btn-grey.js-reset сбросить
    .mypopover
      span.mypopover__item Выбрано: #[span.num 74]
      a(href="#").mypopover__item Показать


mixin checkbox(name, value, checked, required, className)
  label(data-toggle="popover").checkbox&attributes(attributes)
    - var check = checked || '';
    - var name1 = name || '';
    input.input(name=name1, value=value, checked=!!check, type= "checkbox", required=required, class=className)
    span.checkmark.checkmark_box
    span.checkbox__content
      block

mixin num(value)
  -var val = value;
    span  (#[span=val])
