.catalog-form {
  position: relative;
  background-color: $color-athens-gray2;

  &__header {
    width: 100%;
    padding: 24px 20px;
    background-color: $color-bluewood;
    color: #fff;
    @include heading-6;
  }

  &__subheader {
    @include heading-6;
    color: $color-darkgrey;
    text-transform: uppercase;
    margin-bottom: 25px;
  }

  &__item {
    padding: 23px 25px;

    &:not(:nth-last-child(2)) {
      border-bottom: 1px solid $color-grey-light;
    }
    @include media-breakpoint-down(md) {
      padding: 20px;
    }
  }

  &__group {
    position: relative;
    overflow: hidden;
    max-height: 210px;
  }

  .checkbox {
    margin-bottom: 10px;
  }

  .scroll-element.scroll-x.scroll-scrollx_visible {
    display: none;
  }

  &__price-slider {
    margin-top: 27px;

    .noUi-base {
      position: absolute;
      height: 7px;
      border-radius: 3px;
      background-color: $color-heather1;
      margin: 8px 0;

      &:before {
        content: '';
        display: block;
        position: absolute;
        width: calc(100% - 26px);
        height: 6px;
        top: -9px;
        left: 0;
        right: 0;
        margin: auto;
        background: repeating-linear-gradient(90deg, $color-grey-light, $color-grey-light 1px, transparent 1px, transparent 4px);
      }
    }
  }

  &__button {
    display: flex;
    justify-content: space-between;
    padding: 23px 25px;
  }
}

.mypopover {
  display: none;
  position: absolute;
  width: 180px;
  left: calc(100% + 7px);
  top: 0;
  padding: 5px 10px;
  background-color: $color-fiord1;
  border-radius: 2px;
  box-shadow: 3px 4px 10px 0 rgba(0, 0, 0, 0.12);
  z-index: 10;

  &:before {
    position: absolute;
    content: "";
    top: calc(50% - 5px);
    left: -9px;
    border: 5px solid transparent;
    border-right: 5px solid $color-fiord1;
  }

  &__item {
    padding-left: 5px;
    padding-right: 5px;
    line-height: 24px;
    color: #fff;
    @include text-sm;
  }

  &.show {
    display: block;
  }
}
