.owl-carousel {
  margin-bottom: 10px;

  .owl-nav {
    position: absolute;
    display: flex;
    top: -60px;
    right: 0;
    padding: 0;
    margin: 0;
    padding-left: 6px;
    background-color: transparent;

    .owl-next,
    .owl-prev {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
      background-color: $color-another-blue;
      width: 30px;
      height: 32px;
      border-radius: 50%;
      border: 1px solid $color-another-blue;
      margin: 0;

      .slider-next-disabled,
      .slider-prev-disabled {
        display: none;
      }

      &.disabled {
        background-color: transparent;
        border-color: $color-grey;
        cursor: default;

        .slider-next-disabled,
        .slider-prev-disabled {
          display: block;
        }

        .slider-next,
        .slider-prev {
          display: none;
        }
      }

      &.disabled:hover {
        opacity: 1;
      }

      &:hover {
        opacity: 0.9;
        transition: $ease-main;
      }
    }

    .owl-prev {
      margin-right: 5px;
    }
  }
}

.owl-dots {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: auto;
}

.slider {
  &__item {
    position: relative;
    height: 235px;
    max-width: 170px;
    padding: 5px;
    border: 1px solid $color-grey-light;
    margin-right: 1px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      opacity: 0.7;
      transition: $ease-main;
    }
  }

  &__item-2 {
    display: block;
    img {
      display: block;
      height: 230px;
      margin-bottom: 15px;
      object-fit: contain;
    }
  }
}

.nav_bottom {
  .owl-nav {
    top: 100%;
  }
}

.owl-nav-slider {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;

  .owl-stage-outer {
    margin-right: -1px;
  }

  &__item {
    position: relative;
    max-width: 58px;
    height: 58px;
    border: 1px solid $color-heather;
    margin-right: 1px;
    transition: border-color .3s ease;
    cursor: pointer;

    &:hover {
      border: 1px solid $color-jelly-bean;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      max-width: 100%;
      max-height: 100%;
    }
  }

  .owl-carousel .owl-item img  {
    width: auto;
  }


  .owl-nav {
    position: static;

    .owl-next,
    .owl-prev {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      padding: 0;
      background-color: transparent;
      border: none;

      .arrow-up-grey {
        display: none;
      }

        &.disabled {
          cursor: default;

          .arrow-up {
            display: none;
          }

          .arrow-up-grey {
            display: block;
          }
        }

    }

    .owl-next {
      right: -30px;

      .arrow-up,
      .arrow-up-grey {
        transform: rotate(90deg);
      }
    }

    .owl-prev {
      left: -30px;

      .arrow-up,
      .arrow-up-grey {
        transform: rotate(-90deg);
      }
    }
  }
}
