.owl-carousel {
  margin-bottom: 10px;

  .owl-nav {
    position: absolute;
    display: flex;
    top: -60px;
    right: 0;
    padding: 0;
    margin: 0;
    padding-left: 6px;
    background-color: transparent;

    .owl-next,
    .owl-prev {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
      background-color: $color-another-blue;
      width: 30px;
      height: 32px;
      border-radius: 50%;
      border: 1px solid $color-another-blue;
      margin: 0;

      .slider-next-disabled,
      .slider-prev-disabled {
        display: none;
      }

      &.disabled {
        background-color: transparent;
        border-color: $color-grey;
        cursor: default;

        .slider-next-disabled,
        .slider-prev-disabled {
          display: block;
        }

        .slider-next,
        .slider-prev {
          display: none;
        }
      }

      &.disabled:hover {
        opacity: 1;
      }

      &:hover {
        opacity: .9;
        transition: $ease-main;
      }
    }

    .owl-prev {
      margin-right: 5px;
    }
  }
}

.owl-dots {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: auto;
}

.slider {
  &__item {
    position: relative;
    height: 235px;
    max-width: 170px;
    padding: 5px;
    border: 1px solid $color-grey-light;
    margin-right: 1px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      opacity: .7;
      transition: $ease-main;
    }

    // &:hover .zoom {
    //   opacity: 1;
    // }
  }

  &__item-2 {
    img {
      margin-bottom: 15px;
    }
  }
}

.slider-section-sm {
  .owl-nav {
    top: 100%;
  }
}
