.product-list {
  border: 1px solid $color-heather;
  border-radius: 0;

  &.nav {
    border: none;
  }

  &.navbar {
    background-color: transparent;
  }

  li {
    padding-right: 10px;
    padding-left: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      background-color: $color-athens-gray1;
    }

    &:not(:last-child) {
      border-bottom: 1px solid $color-heather;
    }

    &.active {
      background-color: $color-athens-gray1;
    }
  }

  &__item {
    position: relative;
    padding: 14px 4px 13px 20px;
    color: inherit;
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:after {
      top: 0;
      bottom: 0;
    }

    &:focus,
    &:hover {
      text-decoration: none;
    }
  }
}
