mixin product-list()
  +list-triangle.product-list
    li: a(class="product-list__item list-triangle__link" data-toggle="tab" href="#category_1") Аксессуары
    li: a(class="product-list__item list-triangle__link" data-toggle="tab" href="#category_2") Биде и писсуары
    li.active:  a(class="product-list__item list-triangle__link" data-toggle="tab" href="#category_3") Ванны
    li: a(class="product-list__item list-triangle__link" data-toggle="tab" href="#category_4") Водонагреватели
    li: a(class="product-list__item list-triangle__link" data-toggle="tab" href="#category_5") Душевые кабины
    li: a(class="product-list__item list-triangle__link" data-toggle="tab" href="#category_6") Душевые боксы
    li: a(class="product-list__item list-triangle__link" data-toggle="tab" href="#category_7") Душевые уголки
    li: a(class="product-list__item list-triangle__link" data-toggle="tab" href="#category_8") Душевые двери и стенки
    li: a(class="product-list__item list-triangle__link" data-toggle="tab" href="#category_9") Мойки кухонные
    li: a(class="product-list__item list-triangle__link" data-toggle="tab" href="#category_10") Мебель для ванной
    li: a(class="product-list__item list-triangle__link" data-toggle="tab" href="#category_11") Поддоны
    li: a(class="product-list__item list-triangle__link" data-toggle="tab" href="#category_12") Полотенцесушители
    li: a(class="product-list__item list-triangle__link" data-toggle="tab" href="#category_13") Люки сантехнические
    li: a(class="product-list__item list-triangle__link" data-toggle="tab" href="#category_14") Унитазы
    li: a(class="product-list__item list-triangle__link" data-toggle="tab" href="#category_15") Унитаз+инсталляция
    li: a(class="product-list__item list-triangle__link" data-toggle="tab" href="#category_16") Инсталляции
    li: a(class="product-list__item list-triangle__link" data-toggle="tab" href="#category_17") Раковины
    li: a(class="product-list__item list-triangle__link" data-toggle="tab" href="#category_18") Смесители
    li: a(class="product-list__item list-triangle__link" data-toggle="tab" href="#category_19") Теплые полы
    li: a(class="product-list__item list-triangle__link" data-toggle="tab" href="#category_20") Трапы и лотки
    li: a(class="product-list__item list-triangle__link" data-toggle="tab" href="#category_21") Другие товары
